<!DOCTYPE html>

<html>
  <head>
    <meta charset="UTF-8">
    <title>Dev In Rio 2010 - Hotel Guanabara - 9 de outubro</title>

    <meta name="description" content="DevInRio 2010 - Um evento para reunir todas classes de aventureiros em uma só questão"  />

    <link href="files_2010/stylesheets/devinrio.css" media="screen" rel="stylesheet" type="text/css" />

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript"></script>
    <script src="files_2010/javascripts/global.js" type="text/javascript"></script>

    

    <!--[if lte IE 8]>
    <script src="files_2010/javascripts/html5.js" type="text/javascript"></script>
    <![endif]-->

    <!--[if lte IE 6]>
      <style>
        #ie6-warning {padding: 5px; background-color: #c20; text-align: center; color: #fff; font-size: 1.2em;}
        #ie6-warning a {color: #fff; text-decoration: none; border-bottom: 1px solid #fff;}
        .clearfix {height: 1%;}
      </style>
      <script>
        $(document).ready(function(){
          var ie6warning = '<div id="ie6-warning">Você está usando <strong>Internet Explorer 6</strong>, um navegador antigo e com falhas de segurança. Experimente um navegador mais atual. <a href="http://www.updateyourbrowser.net/pt/" rel="external nofollow">Saiba mais</a></div>';
          $("body").append(ie6warning);
          $("body").prepend(ie6warning);
        });
      </script>
    <![endif]-->
  </head>

  <body>
	<div id="wrap">
		<div id="crumb">
			      <header>
				<h1><a href="index.html"><img src="files_2010/images/logo.png" alt="Logo Dev In Rio 2010" title="Dev In Rio 2010"></a></h1>
				<p>
				  "Um evento que reunir&aacute; as <em>comunidades de tecnologia</em>
					mais movimentadas do <em>Rio de Janeiro</em>"
					<img src="files_2010/images/date-and-local.png" alt="Hotel Guanabara - Centro - 9 de outubro" />
				</p>
				<p id="menu">
					<a href="2010-en"><img src="files_2010/images/us-flag.png" style="height: 16px"/> <strong>In english</strong></a>
					<a href="http://twitter.com/devinrio"><img src="files_2010/images/twitter.png"/> <strong>@devinrio</strong></a>
					<a href="mailto:contato@devinrio.com.br"><img src="files_2010/images/email.png"/> <strong>contato@devinrio.com.br</strong></a>
				</p>
				<p id="history"><a href="/"><strong>&laquo; Voltar para o site 2011</strong></a></p>
			</header>

			<div id="content">
				<h2> Programa&ccedil;&atilde;o </h2>
				<ol class="schedule">
				  <li>
						<h3>Credenciamento e socialização</h3>
						<span class="time">08:30</span>
						<div class="speaker">
							<p>Participação especial da banda <a href="http://www.cameliaavenida.com.br/" target="_blank">Camélia Avenida</a>.</p>
						</div>
					</li>
					<li>
						<h3>Abertura oficial</h3>
						<span class="time">09:10</span>
						<div class="speaker">
							<a class="url speaker" href="http://mergulhao.info/">
								<span>Sylvestre Mergulhão</span>
								<img width="75" src="files_2010/images/palestrantes/sylvestre.jpg" alt="Sylvestre Mergulhão" class="photo">
							</a>
							<p>Membro atuante da comunidade <a href="http://horaextra.org">#horaextra</a> do Rio de Janeiro. Mantém o blog pessoal <a href="http://mergulhao.info">mergulhao.info</a>. CTO do site de classificados <a href="http://redeparede.com.br">Redeparede</a>. Fundou em 2010 a <a href="http://helabs.com.br">Helabs Consulting</a> para entrar no mercado de consultoria e metodologias Ágeis.</p>
						</div>
					</li>
			  </ol>
			  <ul id="tabs">
			    <li><a href="index.html#" id="nav_sala_1" class="active">Sala 1</a></li>
			    <li><a href="index.html#" id="nav_sala_2">Sala 2</a></li>
			  </ul>
			  <div id="sala_1" class="tab-content">
			    <ol class="schedule">
					  <li>
						  <h3>Arduino: construindo robôs com software e hardware livres</h3>
						  <span class="time">09:30</span>
						  <div class="speaker">
							  <a class="url speaker" href="http://blog.justen.eng.br/">
								  <span>Álvaro Justen</span>
								  <img width="75" src="files_2010/images/palestrantes/alvaro.jpg" alt="Álvaro Justen" class="photo">
							  </a>
							  <p>Também conhecido como <strong>Turicas</strong>, é graduando em <a href="http://www.telecom.uff.br/">Engenharia de Telecomunicações</a> pela <a href="http://www.uff.br/">Universidade Federal Fluminense</a>. Usuário de GNU/Linux há mais de 8 anos, ativista do software livre, programador <a href="http://www.python.org/">Python</a> e desenvolvedor do <a href="http://www.web2py.com/">web2py</a>. Em sua vida acadêmica já desenvolveu atividades de pesquisa, ensino e extensão, tendo participado do <a href="http://www.telecom.uff.br/pet">Programa de Educação Tutorial (PET-Tele)</a> e do <a href="http://complex.if.uff.br/">grupo de pesquisa em física estatística e computacional do IF-UFF</a>.
							  </p>
						  </div>
					  </li>
					  <li>
						  <h3>Coffee break</h3>
						  <span class="time">10:20</span>
					  </li>
					  <li>
						  <h3>Empreendendo uma comunidade de sucesso</h3>
						  <span class="time">11:00</span>
						  <div class="speaker">
							  <a class="url speaker" href="http://henriquebastos.net/">
								  <span>Henrique Bastos</span>
								  <img width="75" src="files_2010/images/palestrantes/henrique.png" alt="Henrique Bastos" class="photo">
							  </a>
							  <p>Henrique é apaixonado por desenvolvimento de software! Trabalha como diretor de tecnologia na Myfreecomm, criando sistemas com Métodos Ágeis, Python e Software Livres. Está constantemente presente nas comunidades de software organizando eventos e encontros, ministrando palestras, cursos e evangelizando o desenvolvimento sustentável de software, no Brasil e no exterior. Dentre muitas iniciativas, foi um dos organizadores do Dev in Rio 2009 e das caravanas PythonCampus que visitam universidades promovendo a integração entre alunos e o mercado de tecnologia através de software livre. .
							  </p>
						  </div>
					  </li>
					  <li>
						  <h3>Apresentação surpresa</h3>
						  <span class="time">11:50</span>
					  </li>
					  <li>
						  <h3>Intervalo para almo&ccedil;o</h3>
						  <span class="time">12:20</span>
					  </li>
					  <li>
						  <h3>Apresentação surpresa</h3>
						  <span class="time">13:20</span>
					  </li>
					  <li>
						  <h3>Transformando idéias em negócios rentáveis</h3>
						  <span class="time">13:50</span>
						  <div class="speaker">
							  <a class="url speaker" href="http://bielsystems.com.br/">
								  <span>Rafael Lima</span>
								  <img width="75" src="files_2010/images/palestrantes/rafael.jpg" alt="Rafael Lima" class="photo">
							  </a>
							  <p>Sócio Fundador da <a target="_blank" href="http://bielsystems.com.br">BielSystems</a> e da <a target="_blank" href="http://empreendaweb.com.br">Empreenda Web</a> e Diretor da <a target="_blank" href="http://myfreecomm.com.br">Myfreecomm,</a> trabalha com desenvolvimento de software há mais de 10 anos. Programa, mas hoje atua basicamente na gestão e no nível estratégico dos projetos que participa. Escolheu Ruby on Rails para todos os aplicativos desenvolvidos pela BielSystems.
							  </p>
						  </div>
					  </li>
					  <li>
						  <h3>Uma Visão do Mundo Ruby</h3>
						  <span class="time">14:40</span>
						  <div class="speaker">
						    <p class="preamble">Ruby on Rails fez muito sucesso, diversos produtos foram lançados em todo o mundo e os desenvolvedores dessa comunidade se tornaram fortes formadores de opinião, influenciando diversas outras comunidades. Mas a trajetória do Rails não foi simples nem estável, tivemos diversos altos e baixos. Vale a pena rever alguns dos principais momentos dessa história para entender como chegamos aqui, quais valores e formas de pensar tem esta comunidade, para compreender aonde estamos indo e porque ainda usamos Ruby.</p>
							  <a class="url speaker" href="http://akitaonrails.com/">
								  <span>Fábio Akita</span>
								  <img width="75" src="files_2010/images/palestrantes/akita.png" alt="Fábio Akita" class="photo">
							  </a>
							  <p>Um dos mais ativos evangelistas de Ruby on Rails da América Latina. Organizou e promoveu a primeira real conferência de Ruby on Rails no Brasil: RejectConf São Paulo ‘07, e mais recentemente organizou o <a target="_blank" href="http://www.railssummit.com.br/">Rails Summit Latin America em 2009.</a> Bloga regularmente em português e inglês no <a target="_blank" href="http://akitaonrails.com/">AkitaOnRails.com</a> sobre desenvolvimento de software, Ruby on Rails, entre outras coisas. Ele também ajuda a evangelizar novas tecnologias e a Filosofia Ágil.
							  </p>
						  </div>
					  </li>
					  <li>
						  <h3>Desmistificando Scrum &amp; Agile</h3>
						  <span class="time">15:30</span>
						  <div class="speaker">
						    <p class="preamble">Mostrar o por quê a Gestão Ágil/Lean está ganhando terreno frente a Gestão Tradicional de Projetos, apresentar os fundamentos da Gestão Ágil de Projetos com Scrum, seus princípios, valores, e as razões pelas quais equipes que tem implementado Scrum tem sistematicamente melhorado a sua produtividade em até 4x, a qualidade dos seus produtos, a qualidade de vida dos seus membros, e o valor entregue à organização. Estaremos abordando quais são os passos para implementar Scrum em suas equipes de desenvolvimento de software e como sua equipe e sua organização podem se beneficiar na adoção de Scrum.</p>
							  <a class="url speaker" href="http://www.teamware.com.br">
								  <span>Juan Bernabó</span>
								  <img width="75" src="files_2010/images/palestrantes/juan-bernabo.jpg" alt="Juan Bernabó" class="photo">
							  </a>
							  <p>Juan Esteban Bernabó é Fundador e Primary Consultant da <a href="http://www.teamware.com.br/">TeamWare do Brasil</a>, empresa de consultoria focada em auxiliar organizações de desenvolvimento de software a otimizar seus processos, criar ativos de software, adotar processos ágeis e utilizar de forma eficaz a tecnologia de objetos. Trouxe para o Brasil a primeira experiência com Scrum em treinamento Oficial aberto. Trabalha há mais de 17 anos em desenvolvimento de equipes de software altamente eficazes, definição de produtos, projetos, gerenciamento e coordenação de equipes de desenvolvimento, arquitetura de produtos, arquitetura de software, definição de políticas de reuso e avaliação de produtos OpenSource para integrar com produtos comerciais.</p>
						  </div>
					  </li>
					  <li>
						  <h3>Coffee break</h3>
						  <span class="time">16:20</span>
					  </li>
					  <li>
						  <h3>Por que eu sou fanático por testes e você é um bundão</h3>
						  <span class="time">17:00</span>
						  <div class="speaker">
							  <p class="preamble">A idéia desta apresentação não é ser uma coisa tradicional. A apresentação é uma peça teatral que contará a história de um desenvolvedor que está tendo problemas de bugs, prazo estourado entre outros e de um desenvolvedor que usa o test-driven development em seus projetos.</p>
							  <a class="url speaker" href="http://mergulhao.info/">
								  <span>Sylvestre Mergulhão</span>
								  <img width="75" src="files_2010/images/palestrantes/sylvestre.jpg" alt="Sylvestre Mergulhão" class="photo">
							  </a>
							  <p>Membro atuante da comunidade <a href="http://horaextra.org">#horaextra</a> do Rio de Janeiro. Mantém o blog pessoal <a href="http://mergulhao.info">mergulhao.info</a>. CTO do site de classificados <a href="http://redeparede.com.br">Redeparede</a>. Fundou em 2010 a <a href="http://helabs.com.br">Helabs Consulting</a> para entrar no mercado de consultoria e metodologias Ágeis.</p>

							  <p>&nbsp;</p>
							  <a class="url speaker" href="http://twitter.com/henriquecrang">
								  <span>Henrique Andrade</span>
								  <img width="75" src="files_2010/images/palestrantes/henrique-andrade.jpg" alt="Henrique Andrade" class="photo">
							  </a>
							  <p>Coordenador do Setor de Desenvolvimento de Sistemas da Coordenação de Ensino à Distância da Universidade Federal do Estado do Rio de Janeiro (CEAD-UNIRIO). Bacharel em Sistemas de Informação. Mestrando em Engenharia de Sistemas e Computação na COPPE-UFRJ. Professor de Emprrendedorismo e Ética Profissional no curso Tecnologia em Sistemas e Computação na Universidade Federal Fluminense (UFF).</p>
							  </p>
						  </div>
					  </li>
					  <li>
						  <h3>Fuja da Escravidão, antes que ela te alcance </h3>
						  <span class="time">17:50</span>
						  <div class="speaker">
							  <a class="url speaker" href="http://beonthe.net/criar_site_fazer_site/pagina/home">
								  <span>Vinícius Teles</span>
								  <img width="75" src="files_2010/images/palestrantes/vinicius.png" alt="Vinícius Teles" class="photo">
							  </a>
							  <p>Fundador da consultoria <a target="_blank" href="http://www.improveit.com.br/">Improve It.</a> Ele escreveu o primeiro livro brasileiro de XP e trabalhou como coach e mentor de XP por muitos anos. Ele vem desenvolvendo com Rails desde 2006. No fim de 2007 ele mudou sua empresa para um novo modelo de negócios, transformando a Improve It em uma empresa de produtos web. Ele agora se sustenta com assinaturas dos clientes de seu principal produto, o <a target="_blank" href="http://beonthe.net/">Be on the Net.</a>
							  </p>
						  </div>
					  </li>
					</ol>
				</div>
				<div id="sala_2" class="tab-content">
				  <ol class="schedule">
					  <li>
						  <h3>HTML 5 e as novas JS APIs</h3>
						  <span class="time">09:30</span>
						  <div class="speaker">
							  <p class="preamble">Palestra sobre as novas tendencias do desenvolvimento de cliente web. Nela serão abordados diversos conceitos do HTML5 e JS API</p>

							  <a class="url speaker" href="http://yayquery.com.br/">
								  <span>Leonardo Balter</span>
								  <img width="75" src="files_2010/images/palestrantes/leonardo.jpg" alt="Leonardo Balter" class="photo">
							  </a>
							  <p>Evangelista de tecnologias client side e web standards. Atualmente trabalha como desenvolvedor web na Hi Midia e professor de jQuery no iLearn, membro do W3C. Dissemina uma campanha para o uso de webstandards que ofereça maior interoperabilidade entre diferentes navegadores e plataformas, assim como atender tecnologias de dispositivos móveis.</p>
						  </div>
					  </li>
					  <li>
						  <h3>Coffee break</h3>
						  <span class="time">10:20</span>
					  </li>
					  <li>
						  <h3>NodeJS - a performance que eu sempre quis ter</h3>
						  <span class="time">11:00</span>
						  <div class="speaker">
							  <a class="url speaker" href="http://codificando.com/">
								  <span>Emerson Macedo</span>
								  <img width="75" src="files_2010/images/palestrantes/emerson.jpg" alt="Emerson Macedo" class="photo">
							  </a>
							  <p>É Arquiteto/Desenvolvedor de Software com mais de 12 anos de experiência. Atualmente trabalha na globo.com, sediado no Rio de Janeiro. Possui vasta experiência nos ramos de telecomunicações, seguros, bancos, portais, entre outros.
  Entusiasta de metodologias ágeis, também é professor de cursos de extensão em faculdades. Escreve regularmente em seu blog de tecnologia <a target="_blank" href="http://codificando.com">codificando.com</a> e no blog <a target="_blank" href="http://visaoagil.wordpress.com/author/emerleite/">visão ágil</a>.</p>
						  </div>
					  </li>
					  <li>
						  <h3>Coding Dojo + Open Space</h3>
						  <span class="time">11:50</span>
					  </li>
					  <li>
						  <h3>Intervalo para almo&ccedil;o</h3>
						  <span class="time">12:20</span>
					  </li>
					  <li>
						  <h3>Coding Dojo + Open Space</h3>
						  <span class="time">13:20</span>
					  </li>
					  <li>
						  <h3>Symfony - OO PHP para gente grande</h3>
						  <span class="time">13:50</span>
						  <div class="speaker">
							  <p class="preamble"><a href="http://www.symfony-project.org/">Symfony</a> é um framework PHP que segue o padrão MVC, focado em desenvolver aplicações web de forma rápida. A idéia da palestra é apresentá-lo e mostrar o quanto ele pode ajudar o desenvolvedor a criar seus produtos de forma rápida e elegante.</p>

							  <a class="url speaker" href="http://lsouza.pro.br">
								  <span>Luã de Souza</span>
								  <img width="75" src="files_2010/images/palestrantes/lua.jpg" alt="Luã de Souza" class="photo">
							  </a>
							  <p>Entusiasta do framework ágil Symfony e do Wordpress. Sócio e desenvolvedor do grupo Tapronto, trabalha com PHP há 6 anos e com Symfony há 3. Sempre em busca de projetos que exercitem a criatividade e que contribuam de alguma forma pra web.</p>
							  <p>&nbsp;</p>
						  </div>
					  </li>
					  <li>
						  <h3>Refactoring - Porque apenas fazer funcionar não é o suficiente</h3>
						  <span class="time">14:40</span>
						  <div class="speaker">
							  <a class="url speaker" href="http://caikesouza.com/">
								  <span>Caike Souza</span>
								  <img width="75" src="files_2010/images/palestrantes/caike.jpg" alt="Caike Souza" class="photo">
							  </a>
							  <p>Desenvolvedor de software na <a href="http://envylabs.com/" target="_blank">EnvyLabs</a>, na Flórida, Caike tenta dividir seu tempo entre o computador e suas guitarras. Participa de diversas comunidades e acredita que <a href="http://smallactsmanifesto.org/" target="_blank">pequenos atos</a> são capazes de gerar grandes revoluções. Também ajuda a organizar o <a href="http://orlandodojo.org/" target="_blank">Orlando Dojo</a>, com o objetivo de integrar a comunidade local e promover boas práticas de desenvolvimento ágil.</p>
						  </div>
					  </li>
					  <li>
						  <h3>Arquitetura: cansado da mesmice?</h3>
						  <span class="time">15:30</span>
						  <div class="speaker">
							  <p class="preamble">
							    Nós, desenvolvedores, nos prometemos menor acoplamento com estilos
arquiteturais diversos e nos vemos repetidamente quebrando todos os
clientes a cada novo release de uma versão de um server. Veremos como
REST propõe diminuir o acoplamento encontrado em outros estilos
arquiteturais e foca em um sistema que permite a evolução de ambas as
partes independentemente. Além disso, veremos exemplos de sistemas que
com um pensamento baseado em suas características como recursos,
stateless, hipermídia e etc.<br /><br />No final, lembre-se: nao existe bala de prata, mas existe o homem do saco.
							  </p>
							  <a class="url speaker" href="http://blog.caelum.com.br">
								  <span>Guilherme Silveira</span>
								  <img width="75" src="files_2010/images/palestrantes/guilherme.jpeg" alt="Guilherme Silveira" class="photo">
							  </a>
							  <p>Líder técnico da Caelum, graduando em matemática aplicada na USP, Criou o Vraptor em 2003 junto com Paulo Silveira e o mais recentemente o Restfulie.
							  Atualmente tem o foco na implementação de integração de sistemas através de api's rest e seu impacto positivo no plano de negócios dos clientes, alem de ser commiter de projetos como restfulie, xstream, paranamer e waffle com ênfase em Java e Ruby. É também responsável pelo conteúdo técnico dos
     cursos.</p>
						  </div>
					  </li>
					  <li>
						  <h3>Coffee break</h3>
						  <span class="time">16:20</span>
					  </li>
					 <li>
						  <h3>Testes unitários em JavaScript: usar ou não usar mock?</h3>
						  <span class="time">17:00</span>
						  <div class="speaker">
							  <p class="preamble">Nesta palestra, será abordado:<br />
                  - como seu código javascript pode ser escrito para ser "testável";<br />
                  - o que é "mock" em termos de teste unitário e como executar em código client;<br />
                  - algumas ferramentas de teste e de mock mais usadas e<br />
                  - filosofia de testes em outras linguagens, como Python, trazidas para o código client.</p>
							  <a class="url speaker" href="index.html#">
								  <span>Márcio Santana</span>
								  <img width="75" src="files_2010/images/palestrantes/marcio-santana.jpg" alt="Márcio Santana" class="photo">
							  </a>
							  <p>É desenvolvedor desde 2001 já tendo passado por PERL, ASP, .NET, JavaScript e Python. Disseminadordo uso de JavaScript como linguagem funcional. Atualmente é desenvolvedor sênior na Globo.com onde procura empregar a mesma experiência de desenvolvimento server side em código client.</p>
						  </div>
					  </li>
					  <li>
				      <h3>Apresentação surpresa</h3>
				      <span class="time">17:50</span>
				     </li>
					</ol>
				</div>
				<ol class="schedule">
				 <li>
				  <h3>Encerramento</h3>
				  <span class="time">18:40</span>
				 </li>
				 <li>
				  <h3>#horaextra</h3>
				  <span class="time">19:00</span>
				  <div class="speaker">
						<p><strong>Lanchão &amp; CIA</strong>. Rua do Ouvidor, Centro. Rio - RJ</p>
					</div>
				 </li>
				 <li>
				  <p id="atencao">OBS: Programação sujeita à alteração sem aviso prévio.</p>
				 </li>
				</ol>

				<div id="map">
				  <h2>Como chegar</h2>

				  <p><strong>Hotel Guanabara</strong><br />
				     Avenida Presidente Vargas, 392. Centro, Rio de Janeiro - RJ</p>
				  <iframe width="680" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Hotel+Guanabara,+Rio+de+Janeiro,+Brazil&amp;sll=37.0625,-95.677068&amp;sspn=49.490703,102.216797&amp;ie=UTF8&amp;hq=Hotel+Guanabara,&amp;hnear=Rio+de+Janeiro,+Brazil&amp;ll=-22.901097,-43.179513&amp;spn=0.002421,0.005681&amp;z=14&amp;iwloc=A&amp;cid=12863607507337796918&amp;output=embed"></iframe>

				  <h3 id="hoteis">Dicas de hotéis</h3>

				  <ul>
				    <li><strong>Hotel Guanabara</strong> (hotel do evento)<br />Avenida Presidente Vargas, 392. Centro, Rio de Janeiro - RJ<br /><a href="http://www.windsorhoteis.com.br/pt-br/loca.asp?hid=20">http://www.windsorhoteis.com.br/pt-br/loca.asp?hid=20</a></li>
				    <li><strong>Hotel São Francisco</strong><br />Rua Visconde de Inhaúma, 95. Centro, Rio de Janeiro - RJ<br /><a href="http://www.hotelsaofrancisco.com.br/">http://www.hotelsaofrancisco.com.br/</a></li>
				    <li><strong>Rio's Presidente Hotel</strong><br />Rua Pedro I, 19. Centro, Rio de Janeiro - RJ<br /><a href="http://www.riospresidentehotel.com.br/">http://www.riospresidentehotel.com.br/</a></li>
				    <li><strong>ibis Centro</strong><br />Rua Silva Jardim, 32, Torre I. Centro, Rio de Janeiro - RJ<br /><a href="http://www.ibishotel.com/gb/hotel-5534-ibis-rio-de-janeiro-centro/index.shtml">http://www.ibishotel.com/gb/hotel-5534-ibis-rio-de-janeiro-centro/index.shtml</a></li>
				    <li><strong>ibis Santos Dumont</strong><br />Av. Marechal Câmara, 280. Centro, Rio de Janeiro - RJ<br /><a href="http://www.ibishotel.com/gb/hotel-5691-ibis-rio-de-janeiro-santos-dumont/index.shtml">http://www.ibishotel.com/gb/hotel-5691-ibis-rio-de-janeiro-santos-dumont/index.shtml</a></li>
				    <li><strong>Hotel Castelo</strong><br />Rua do Lavradio, 62. Centro, Rio de Janeiro - RJ<br /><a href="http://www.apontador.com.br/local/rj/rio_de_janeiro/hoteis_e_pousadas/E8TAHS67/hotel_castelo.html">http://www.apontador.com.br/local/rj/rio_de_janeiro/hoteis_e_pousadas/E8TAHS67/hotel_castelo.html</a></li>
				    <li><strong>Hotel Granada</strong><br />Avenida Gomes Freire, 530. Centro, Rio de Janeiro - RJ<br /><a href="http://www.hotelgranada.com.br/">http://www.hotelgranada.com.br/</a></li>
				    <li><strong>Formule 1</strong><br />Rua Silva Jardim, 32. Centro, Rio de Janeiro - RJ<br /><a href="http://www.formule1.com.br/formule1/ficha_promocao.aspx?h=200">http://www.formule1.com.br/formule1/ficha_promocao.aspx?h=200</a></li>
				  </ul>
			  </div>
			</div>
			      <div id="sponsors" class="sidebar">
				<h2 id="golden-title">Patrocinador Ouro</h2>
				<p class="sponsor"><a href="http://globo.com"><img src="files_2010/images/logo-globo-ponto-com.png" alt="Logo globo.com" /></a></p>
				<p class="sponsor"><a href="http://seprorj.org.br"><img src="files_2010/images/logo-seprorj.png" alt="Logo SeproRJ" /></a></p>
				<p class="sponsor"><a href="http://gonow.com.br/gonow"><img src="files_2010/images/logo-gonow.png" alt="Logo gonow" /></a></p>
				<h2 id="silver-title">Patrocinador Prata</h2>
				<p class="sponsor"><a href="http://www.caelum.com.br/"><img src="files_2010/images/logo-caelum.png" alt="Logo Caelum" /></a></p>
				<p class="sponsor"><a href="http://www.locaweb.com.br/"><img src="files_2010/images/logo-locaweb.png" alt="Logo Locaweb" /></a></p>
				<h2 id="bronze-title">Patrocinador Bronze</h2>
				<p class="sponsor"><a href="http://www.github.com/"><img src="files_2010/images/logo-github.png" alt="Logo Github" /></a></p>
			</div>
			<div id="achievement" class="sidebar">
				<h2>Realização</h2>
				<ul>
				  <li><a href="http://www.contactuseventos.com.br/"><img src="files_2010/images/logo-contactus-eventos.png" alt="Contactus Eventos" /></a></li>
				  <li><a href="http://www.helabs.com.br/"><img src="files_2010/images/logo-helabs.png" alt="Helabs" /></a></li>
				</ul>
			</div>
			<div id="support" class="sidebar">
				<h2>Apoio</h2>
				<ul>
				  <li><a href="http://www.empreendaweb.com.br/"><img src="files_2010/images/logo-empreenda-web.png" alt="EmpreendaWeb" /></a></li>
				  <li><a href="http://www.cobregratis.com.br/"><img src="files_2010/images/logo-cobre-gratis.png" alt="Cobre Grátis" /></a></li>
				  <li><a href="http://www.infnet.edu.br/"><img src="files_2010/images/logo-infnet.png" alt="Infnet" /></a></li>
				  <li><a href="http://www.arteccom.com.br/"><img src="files_2010/images/logo-arteccom.png" alt="Arteccom" /></a></li>
				  <li><a href="http://www.hostnet.com.br/"><img src="files_2010/images/logo-hostnet.png" alt="Hostnet" /></a></li>
				  <li><a href="http://www.clavis.com.br/"><img src="files_2010/images/logo-clavis.png" alt="Clavis Segurança da Informação" /></a></li>
				  <li><a href="http://www.startupi.com.br/"><img src="files_2010/images/logo-startupi.png" alt="Startupi" /></a></li>
				  <li><a href="http://www.serpro.gov.br/"><img src="files_2010/images/logo-serpro.png" alt="Serpro" /></a></li>
				</ul>
			</div>
			<div id="disclosure" class="sidebar">
				<h2>Divulgação</h2>
				<ul>
				  <li><a href="http://www.tuiuiu.com/"><img src="files_2010/images/logo-tuiuiu.png" alt="Tuiuiú" /></a></li>
				</ul>
			</div>
		  <div id="communities" class="sidebar">
				<h2>Comunidades</h2>
				<ul>
				  <li><a href="http://horaextra.org"><img src="files_2010/images/comunidades/logo_horaextra_off.png" alt="#horaextra" /></a></li>
				  <li><a href="http://smallactsmanifesto.org"><img src="files_2010/images/comunidades/logo-smallacts.png" alt="Small Acts Manifesto" /></a></li>
				  <li><a href="http://dojorio.wordpress.com/"><img src="files_2010/images/comunidades/logo_dojorio_off.png" alt="DojoRio" /></a></li>
				  <li><a href="http://www.riojug.org/blog/"><img src="files_2010/images/comunidades/logo_riojug_off.png" alt="Rio Java Users Group" /></a></li>
				  <li><a href="http://www.rubyinside.com.br/"><img src="files_2010/images/comunidades/logo_rubyinside_off.png" alt="Ruby Inside" /></a></li>
				  <li><a href="http://rubyonrio.org/"><img src="files_2010/images/comunidades/logo-ruby-on-rio.png" alt="RubyOnRio" /></a></li>
				  <li><a href="http://pythonrio.org/"><img src="files_2010/images/comunidades/logo_pythonrio_off.png" alt="PythonRio" /></a></li>
				  <li><a href="http://forkinrio.appspot.com/"><img src="files_2010/images/comunidades/logo-forkinrio.png" alt="ForkinRio" /></a></li>
				  <li><a href="http://pythoncampus.org"><img src="files_2010/images/comunidades/logo-pythoncampus.png" alt="PythonCampus" /></a></li>
				  <li><a href="http://www.arduinrio.cc/"><img src="files_2010/images/comunidades/logo-arduinoinrio.png" alt="Arduino in Rio" /></a></li>
				</ul>
			</div>
			<div id="badges" class="sidebar">
			  <h2>Divulgue o evento!</h2>
				<ul>
					<li>
						<img src="files_2010/images/devinrio2010_euvou_120x240.gif" height="240" width="120"/>
						<textarea rows="5" style="width: 150px;" name="Dev in Rio - Banner 120 x 240" readonly="readonly">&lt;a href="http://www.devinrio.com.br"&gt;&lt;img src="http://www.devinrio.com.br/files_2010/images/devinrio2010_euvou_120x240.gif" alt="Dev in Rio 2010"/&gt;&lt;/a&gt;</textarea>
					</li>
					<li>
						<img src="files_2010/images/devinrio2010_euvou_125x125.gif" height="125" width="125"/>
						<textarea rows="5" style="width: 150px;" name="Dev in Rio - Banner 125 x 125" readonly="readonly">&lt;a href="http://www.devinrio.com.br"&gt;&lt;img src="http://www.devinrio.com.br/files_2010/images/devinrio2010_euvou_125x125.gif" alt="Dev in Rio 2010"/&gt;&lt;/a&gt;</textarea>
					</li>
					<li>
						<img src="files_2010/images/devinrio2010_euvou_210x60.gif" height="60" width="210"/>
						<textarea rows="5" style="width: 150px;" name="Dev in Rio - Banner 210 x 60" readonly="readonly">&lt;a href="http://www.devinrio.com.br"&gt;&lt;img src="http://www.devinrio.com.br/files_2010/images/devinrio2010_euvou_210x60.gif" alt="Dev in Rio 2010"/&gt;&lt;/a&gt;</textarea>
					</li>
				</ul>
			</div>
			<div class="sidebar">
			  <h2>Auditoria</h2>
			  <p id="auditoria"><a target="_blank" href="http://siteforte.com.br/certificado/www.devinrio.com.br?utm_source=www.devinrio.com.br&utm_medium=selo_premium&utm_term=siteforte&utm_campaign=permanente"><img style="border:none;" title="Auditoria de segurança para serviços online com transações financeiras e informações confidenciais :: SITEFORTE - Segurança Digital" src="http://siteforte.com.br/selos/13_wwwdevinriocombr.png"></a></p>  
			</div>


		</div>
	</div>
  </body>
</html>

