<!DOCTYPE html>

<html>
  <head>
    <meta charset="UTF-8">
    <title>Dev In Rio 2010 - Hotel Guanabara - 9 de outubro</title>
    
    <meta name="description" content="DevInRio 2010 - Um evento para reunir todas classes de aventureiros em uma só questão"  />
    
    <!--[if lte IE 8]>
    <script src="javascripts/html5.js" type="text/javascript"></script>
    <![endif]-->
    
    <link href="stylesheets/devinrio.css" media="screen" rel="stylesheet" type="text/css" />
  </head>
  
  <body>
	<div id="wrap">
		<div id="crumb">
			<%= erb(:header, :layout => false) %>
			<div id="content">
			  <h2>2&ordf; via de boleto</h2>
			  
			  <p id="info">Para gerar novamente o boleto de cobrança, basta informar o seu CPF no campo abaixo.</p>
	      <form action="http://eventoshq-production.heroku.com/611d5330cb87c577965e7f82a3ee6f1ea7686dce/billets" method="get">
					<fieldset>
					  <label>CPF <input id="cpf" name="cpf" size="20" type="text" /></label><br>
					  <label><input class="button" type="submit" value="Mostre-me o boleto" /></label>
				  </fieldset>
				</form>
			</div>
			<%= erb(:sidebar, :layout => false) %>
		</div>
	</div>
    
    <%= erb(:scripts, :layout => false) %>
    
  </body>
</html>
