<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Dev In Rio 2010 - Hotel Guanabara - 9 de outubro</title>
    
    <meta name="description" content="DevInRio 2010 - Um evento para reunir todas classes de aventureiros em uma só questão"  />
    
    <style>
      body {
        margin: 0;
        padding: 0;
        background: #e9e9e9;
      }
      
      #certificate {
        margin: auto;
        width: 960px;
        height: 679px;
        background: transparent url(/images/certificado_devinrio.png);
      }
      
      #for {
        padding: 260px 0 0 0;
        text-align: center;
        font: bold 40px Helvetica, Arial, sans-serif;
      }
    </style>
  </head>
  <body>
	<div id="certificate">
		<div id="for"><%= certificate_for %></div>
  </body>
</html>
