<article>
  <h1>Ops, o seu certificado de 2010 não foi encontrado.</h1>

  <p>Você esteve realmente no evento? Então mande um e-mail para <a href="mailto:contato@devinrio.com.br">contato@devinrio.com.br</a> relatando o problema.</p>
</article>
