      <header>
				<h1><a href="http://www.devinrio.com.br"><img src="images/logo.png" alt="Logo Dev In Rio 2010" title="Dev In Rio 2010"></a></h1>
				<p>
				  "Um evento que reunir&aacute; as <em>comunidades de tecnologia</em>
					mais movimentadas do <em>Rio de Janeiro</em>"
					<img src="images/date-and-local.png" alt="Hotel Guanabara - Centro - 9 de outubro" />
				</p>
				<p id="menu">
					<a href="/#map"><img src="images/map.png"/> Como chegar</a> 
					<a href="http://twitter.com/devinrio"><img src="images/twitter.png"/> @devinrio</a> 
					<a href="mailto:contato@devinrio.com.br"><img src="images/email.png"/> contato@devinrio.com.br</a>
				</p>
				<p id="history"><a href="/2009"><strong>Veja como foi o evento de 2009</strong></a></p>
			</header>
