      <header>
				<h1><a href="/"><img src="images/logo.png" alt="Logo Dev In Rio 2010" title="Dev In Rio 2010"></a></h1>
				<p>
				  "A conference that will bring together the greatest
				  <em>technology communities</em> from <em>Rio de Janeiro</em>"
					<img src="images/date-and-local.png" alt="Hotel Guanabara - Centro - 9 de outubro" />
				</p>
				<p id="menu">
				  <a id="signup" href="/inscreva-se"><img src="images/go.png"/> Sign up!</a>
					<a href="/#map"><img src="images/map.png"/> How to get there?</a>
					<a href="/press"><img src="images/journal.png"/> Press</a><br />
					<a href="/"><img src="images/brazil-flag.png" style="height: 16px"/> <strong>Em portugu&ecirc;s</strong></a>
					<a href="http://twitter.com/devinrio"><img src="images/twitter.png"/> <strong>@devinrio</strong></a> 
					<a href="mailto:contato@devinrio.com.br"><img src="images/email.png"/> <strong>contato@devinrio.com.br</strong></a>
				</p>
				<p id="history"><a href="/2009"><strong>Previous edition - DevInRio 2009</strong></a></p>
			</header>
