      <header>
				<h1><a href="/"><img src="images/logo.png" alt="Logo Dev In Rio 2010" title="Dev In Rio 2010"></a></h1>
				<p>
				  "Um evento que reunir&aacute; as <em>comunidades de tecnologia</em>
					mais movimentadas do <em>Rio de Janeiro</em>"
					<img src="images/date-and-local.png" alt="Hotel Guanabara - Centro - 9 de outubro" />
				</p>
				<p id="menu">
				  <a id="slides" href="/palestras"><img src="images/go.png"/> Veja os slides das palestras</a>
				  <a href="/quero-o-meu-certificado"><img src="images/go.png"/> Pegue o seu certificado</a>
					<a href="/imprensa"><img src="images/journal.png"/> Imprensa</a>
					<br />
					<a href="/en"><img src="images/us-flag.png" style="height: 16px"/> <strong>In english</strong></a>
					<a href="http://twitter.com/devinrio"><img src="images/twitter.png"/> <strong>@devinrio</strong></a>
					<a href="mailto:contato@devinrio.com.br"><img src="images/email.png"/> <strong>contato@devinrio.com.br</strong></a>
				</p>
				<p id="history"><a href="/2009"><strong>Veja como foi o evento de 2009</strong></a></p>
			</header>
