<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Dev In Rio 2010 - Hotel Guanabara - 9 de outubro</title>
  
  <meta name="description" content="DevInRio 2010 - Um evento para reunir todas classes de aventureiros em uma só questão"  />
  
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript"></script>
  <script src="javascripts/global.js" type="text/javascript"></script>
  
  <!--[if lte IE 8]>
  <script src="javascripts/html5.js" type="text/javascript"></script>
  <![endif]-->
  
  <link href="stylesheets/reset.css"  rel="stylesheet" type="text/css" />
  <link href="stylesheets/heempreende.css" media="screen" rel="stylesheet" type="text/css" />
</head>
<body>
  <div class="header">
    <h1>Hora Extra - Empreende</h1>
    <p>Tudo que queria saber para começar a empreender agora tem data marcado para ser respondido</p>
    <ul>
      <li>Agenda</li>
      <li>Inscricões</li>
      <li>Sobre</li>
    </ul>
  </div>
  <div class="corpo">
    <div class="video">
      <object width="480" height="385">
          <param name="movie" value="http://www.youtube.com/v/OmcIdzCS3kc?fs=1&amp;hl=en_US"></param>
          <param name="allowFullScreen" value="true"></param>
          <param name="allowscriptaccess" value="always"></param>
          <embed src="http://www.youtube.com/v/OmcIdzCS3kc?fs=1&amp;hl=en_US" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="480" height="385"></embed>
        </object>
        <p>
          Vídeo para evento da Rede Pitagoras falando sobre empreendedorismo.
        </p>
    </div>
    <div class="texto">
      <p>"Todos temos sonhos. E para muitos esse sonho é empreender. Mas o medo e a dúvida consomem. Impedem de prosseguir. Quanto ao medo nada podemos fazer, já com relação a dúvida..."</p>
      <button>Aguarde</button>
    </div>
  </div>
  <div class="rodape">
    <p> Esse é mais um evento da Galera do #horaextra. Para saber mais detalhes vá a um encontro. Pode ser no centro da cidade, na Barra ou em Niterói. </p>
  </div>
</body>  
</html>
