<!DOCTYPE html>

<html>
  <head>
    <meta charset="UTF-8">
    <title>Dev In Rio 2010 - Hotel Guanabara - 9 de outubro</title>
    
    <meta name="description" content="DevInRio 2010 - Um evento para reunir todas classes de aventureiros em uma só questão"  />
    
    <!--[if lte IE 8]>
    <script src="javascripts/html5.js" type="text/javascript"></script>
    <![endif]-->
    
    <link href="stylesheets/devinrio.css" media="screen" rel="stylesheet" type="text/css" />
  </head>
  
  <body>
	<div id="wrap">
		<div id="crumb">
			<%= erb(:header, :layout => false) %>
			<div id="content">
        <h2>DevinRio 2010 promete movimentar o cenário carioca de desenvolvimento de software</h2>

        <div id="text">
	        <p>Em sua segunda edição, o DevinRio -- evento que movimenta as comunidades de desenvolvimento de software levando ao público o que há de melhor em boas práticas -- promete repetir o sucesso registrado em 2009, quando recebeu mais de 450 pessoas de todos os cantos do país, interessadas nas palestras nacionais e internacionais de qualidade e toda a infraestrutura oferecida. Marcado para o dia 09 de outubro, no Hotel Guanabara (Centro do Rio de Janeiro), o DevinRio 2010 contará com nomes de peso do mercado de TI, como Fábio Akita, um dos mais ativos evangelistas de Ruby on Rails (framework de desenvolvimento web gratuito e de código aberto) da América Latina; Guilherme Chapiewski, Sr. Engineering Manager no Yahoo! Inc., onde é responsável técnico por um time focado em inovação e desenvolvimento de novos produtos; além de outros não menos importantes.</p>
	        <p>Os temas das palestras são diretamente ligados a desenvolvimento de software, em geral palestras técnicas com objetivo de mostrar aos participantes as últimas tendências da área. Além dessa linha técnica, outras palestras mostram mais o lado empreendedor que um desenvolvedor de software pode ter. O evento contará, ainda, com sessões de Open Spaces, Dojos e palestras surpresas.</p>
	        <p>Organizado este ano pelo grupo do <a href="http://horaextra.org">#horaextra</a>, uma comunidade que nasceu em 2008 com o objetivo de discutir assuntos interessantes e atuais e que já conta com a participação de pessoas de outros estados e países, o DevinRio 2010 está preparado para receber 500 pessoas. Sylvestre Mergulhão, um dos realizadores, espera a presença em peso das comunidades de desenvolvimento do Rio, já que, segundo ele, existe um grande mercado a ser explorado no Rio de Janeiro. “Hoje já é possível encontrar empresas que realmente tratam o desenvolvimento de software com a atenção e o carinho que deve ser tratado, diferente do cenário de há dois ou três anos. Isso está acontecendo no Rio, mas as mudanças podem ser sentidas em todo o país”.</p>
	        <p>Para Mergulhão, se cada participante levar um pouco do que aprendeu para melhorar o seu dia-a-dia no trabalho e conseguir mostrar na empresa o quanto aquilo é importante, o DevinRio já terá valido a pena. “Queremos plantar sementes nos desenvolvedores para que eles levem essas práticas para as empresas em que trabalham”.</p>
	        <p>Ficou interessado? Então corre e <a href="/inscreva-se">faça a sua inscrição</a>. Para mais informações, siga <a href="http://twitter.com/devinrio">@devinrio</a> no twitter ou entre em contato pelo e-mail <a href="mailto:contato@devinrio.com.br">contato@devinrio.com.br</a></p>
	      </div>
			</div>
			<%= erb(:sidebar, :layout => false) %>
		</div>
	</div>
    
    <%= erb(:scripts, :layout => false) %>
    
  </body>
</html>
