<!DOCTYPE html>

<html>
  <head>
    <meta charset="UTF-8">
    <title>Dev In Rio 2010 - Hotel Guanabara - 9 de outubro</title>
    
    <meta name="description" content="DevInRio 2010 - Um evento para reunir todas classes de aventureiros em uma só questão"  />
    
    <!--[if lte IE 8]>
    <script src="javascripts/html5.js" type="text/javascript"></script>
    <![endif]-->
    
    <link href="stylesheets/devinrio.css" media="screen" rel="stylesheet" type="text/css" />
  </head>
  
  <body>
	<div id="wrap">
		<div id="crumb">
			<%= erb(:header_en, :layout => false) %>
			<div id="content">
	      <h2>Press</h2>

        <div id="text">
	        <p>In 2009, Dev in Rio shook the world of software development in Rio de Janeiro with a whole day of amazing talks. Over 450 people from all different parts of the country were there.</p>
	        <p>After much debate of whether or not there should be a second edition, the <a href="http://horaextra.org">#horaextra</a> group decided to make it happen. This year the event is going to have two simultaneous tracks, along with open spaces and surprise talks that will only be revealed at the day for the event.</p>
	        <p>Registrations are open and tickets will probably sell out soon. There are only going to be 500 tickets available and over half of those are already gone, being one month away from the event. We are hoping every software development user group from Rio de Janeiro will attend.</p>
	        <p>Most talks will be related to software development and will show its latest trends and applicabilities. At the same time, there will also be talks about entrepreneurship and business that rely on software based products and/or services.</p>
	        <p>You don't want to miss this. Make sure you <a href="/inscreva-se">sign up</a> and <a href="http://twitter.com/devinrio">follow us</a> on twitter.</p>
	      </div>
			</div>
			<%= erb(:sidebar, :layout => false) %>
		</div>
	</div>
    
    <%= erb(:scripts, :layout => false) %>
    
  </body>
</html>
