<!DOCTYPE html>

<html>
  <head>
    <meta charset="UTF-8">
    <title>Dev In Rio 2010 - Guanabara Hotel - October 9th</title>
    
    <meta name="description" content="DevInRio 2010 - A conference that will bring together the greatest technology communities from Rio de Janeiro" />
    
    <link href="stylesheets/devinrio.css" media="screen" rel="stylesheet" type="text/css" />

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript"></script>
    <script src="javascripts/global.js" type="text/javascript"></script>

    <% if locals[:sala] == 2 %>
      <script>
        $(function() {
          $(".tab-content").fadeOut();
          $("#sala_2").fadeIn();
          $("ul#tabs li a").removeClass("active");
          $("ul#tabs li a#nav_sala_2").addClass("active");
        });
      </script>
    <% end %>
    
    <!--[if lte IE 8]>
    <script src="javascripts/html5.js" type="text/javascript"></script>
    <![endif]-->
  </head>
  
  <body>
	<div id="wrap">
		<div id="crumb">
			<%= erb(:header_en, :layout => false) %>
			<div id="content">
				<h2> Schedule </h2>
				<ol class="schedule">
				  <li>
						<h3>Credentials / Registration</h3>
						<span class="time">08:30</span>
					</li>
					<li>
						<h3>Opening Keynote</h3>
						<span class="time">09:10</span>
						<div class="speaker">
							<a class="url speaker" href="http://mergulhao.info/">
								<span>Sylvestre Mergulhão</span>
								<img width="75" src="images/palestrantes/sylvestre.jpg" alt="Sylvestre Mergulhão" class="photo">
							</a>
							<p>Active member of the <a href="http://horaextra.org">#horaextra</a> community in Rio de Janeiro. Writes on his personal blog <a href="http://mergulhao.info">mergulhao.info</a>. CTO for the classifieds website <a href="http://redeparede.com.br">Redeparede</a>. He founded <a href="http://helabs.com.br">Helabs Consulting</a> in 2010, to provide agile consultancy and training.</p>
						</div>
					</li>
			  </ol>
			  <ul id="tabs">
			    <li><a href="#" id="nav_sala_1" class="active">Track A</a></li>
			    <li><a href="#" id="nav_sala_2">Track B</a></li>
			  </ul>
			  <div id="sala_1" class="tab-content">
			    <ol class="schedule">
					  <li>
						  <h3>The Latest news in the Ruby world</h3>
						  <span class="time">09:30</span>
						  <div class="speaker">
							  <a class="url speaker" href="http://akitaonrails.com/">
								  <span>Fábio Akita</span>
								  <img width="75" src="images/palestrantes/akita.png" alt="Fábio Akita" class="photo">
							  </a>
							  <p>One of the most active Ruby on Rails envangelists in Latin America, he organized back in 2007 the first Rails conference in Brazil, RejectConf in São Paulo, and most recently organized Rails Summit Lating America in 2009. Writes regulary on his blog <a target="_blank" href="http://akitaonrails.com/">AkitaOnRails.com</a> about software development, Ruby on Rails and other things. He also helps evangelize about new technologies and the agile philosophy.
							  </p>
						  </div>
					  </li>
					  <li>
						  <h3>Coffee break</h3>
						  <span class="time">10:20</span>
					  </li>
					  <li>
						  <h3>Entrepreneuring Successful Communities</h3>
						  <span class="time">11:00</span>
						  <div class="speaker">
							  <a class="url speaker" href="http://henriquebastos.net/">
								  <span>Henrique Bastos</span>
								  <img width="75" src="images/palestrantes/henrique.png" alt="Henrique Bastos" class="photo">
							  </a>
							  <p>Henrique is a passionate software developer! He is the director of technology for Myfreecomm, creating applications using Agile Methodologies, Python and Free Software. He is constantly present in the software comunities, organizing events and meetings, speaking, training and evangelizing about sustainable software development in and outside of Brazil. He was one of the organizers for DevInRio 2009 and the PythonCampus caravan that visits universities and promotes the integration of students and the software industry through Free Software.</p>
						  </div>
					  </li>
					  <li>
						  <h3>Surprise Speaker</h3>
						  <span class="time">11:50</span>
					  </li>
					  <li>
						  <h3>Lunch Break</h3>
						  <span class="time">12:20</span>
					  </li>
					  <li>
						  <h3>Surprise Speaker</h3>
						  <span class="time">13:20</span>
					  </li>
					  <li>
						  <h3>Turning ideas into profitable businesses</h3>
						  <span class="time">13:50</span>
						  <div class="speaker">
							  <a class="url speaker" href="http://bielsystems.com.br/">
								  <span>Rafael Lima</span>
								  <img width="75" src="images/palestrantes/rafael.jpg" alt="Rafael Lima" class="photo">
							  </a>
							  <p>Co-founder of <a target="_blank" href="http://bielsystems.com.br">BielSystems</a> and <a target="_blank" href="http://empreendaweb.com.br">Empreenda Web</a> and director of <a target="_blank" href="http://myfreecomm.com.br">Myfreecomm,</a>
							    he has been working with software development for over ten years. Although he still writes code, he bas been mostly involved in management and strategic decisions involving his projects. He has chosen Ruby on Rails for all of the applications developed by BielSystems.
							  </p>
						  </div>
					  </li>
					  <li>
						  <h3>Arduino: building robots using open source software and hardware</h3>
						  <span class="time">14:40</span>
						  <div class="speaker">
							  <a class="url speaker" href="http://blog.justen.eng.br/">
								  <span>Álvaro Justen</span>
								  <img width="75" src="images/palestrantes/alvaro.jpg" alt="Álvaro Justen" class="photo">
							  </a>
							  <p>Also known as <b>Turicas</b>, he is a <a href="http://www.telecom.uff.br/">Telecommunications Engineering</a> student at <a href="http://www.uff.br/">Universidade Federal Fluminense</a>.
							    He has been a GNU/Linux user for over eight years, activist for free software, <a href="http://www.python.org/">Python</a> programmer and developer for the <a href="http://www.web2py.com/">web2py</a> project.
							    During his academic life, he has been part of the <a href="http://www.telecom.uff.br/pet">Tutorial Education Program (PET-Tele)</a> and <a href="http://complex.if.uff.br/">IF-UFF research group for statistical and computational physics</a>.
							  </p>
						  </div>
					  </li>
					  <li>
						  <h3 style="font-size: .9em;">Things that a professional developer needs to know but nobody teaches at the College</h3>
						  <span class="time">15:30</span>
						  <div class="speaker">
						    <p class="preamble">To be a specialist or a generalist? How responsible developers should work? What separates a professional from a "wannabe"? How to consolidate in the labor market? How to make the difference? This presentation aims to answer all these questions. We'll talk about what really makes a difference in the labor market - and I'll show why it is not just technical knowledge but also attitudes and mindset.</p>
							  <a class="url speaker" href="http://gc.blog.br">
								  <span>Guilherme Chapiewski</span>
								  <img width="75" src="images/palestrantes/guilherme_chapiewski.jpg" alt="Guilherme Chapiewski" class="photo">
							  </a>
							  <p><strong>Guilherme Chapiewski</strong> is Sr. Engineering Manager at Yahoo! Inc. where he is technical manager for a team focused on innovation and new product development. Enthusiast agile development, practices and software quality, has approximately 10 years of experience in architecture and development and specializes in web applications for high performance and scalability. In addition to active contributor in communities and free software projects, is also a lecturer at various technology events throughout Brazil. Writes regularly on <a href="http://gc.blog.br">http://gc.blog.br</a> and <a href="http://twitter.com/gchapiewski">http://twitter.com/gchapiewski</a>.
							  </p>
						  </div>
					  </li>
					  <li>
						  <h3>Coffee break</h3>
						  <span class="time">16:20</span>
					  </li>
					  <li>
						  <h3>Why I am a test fanatic and you are a sucker</h3>
						  <span class="time">17:00</span>
						  <div class="speaker">
							  <p class="preamble">
							    This is not a conventional talk.
							    This is a theatrical play that will tell the story of a software developer that is struggling with bugs, unrealistic estimates and other problems, as opposed to another one that practices Test Driven Development.
							    </p>
							  <a class="url speaker" href="http://mergulhao.info/">
								  <span>Sylvestre Mergulhão</span>
								  <img width="75" src="images/palestrantes/sylvestre.jpg" alt="Sylvestre Mergulhão" class="photo">
							  </a>
							  <p>Active member of the <a href="http://horaextra.org">#horaextra</a> community in Rio de Janeiro. Writes on his personal blog <a href="http://mergulhao.info">mergulhao.info</a>. CTO for the classifieds website <a href="http://redeparede.com.br">Redeparede</a>. He founded <a href="http://helabs.com.br">Helabs Consulting</a> in 2010, to provide agile consultancy and training.</p>
							
							  <p>&nbsp;</p>
							  <a class="url speaker" href="http://twitter.com/henriquecrang">
								  <span>Henrique Andrade</span>
								  <img width="75" src="images/palestrantes/henrique-andrade.jpg" alt="Henrique Andrade" class="photo">
							  </a>
							  <p>Coordinator for the division of Development of Systems for the Coordination of distance-learning for the State University of Rio de Janeiro (CEAD-UNIRIO). Holds a BS degree in Information Systems and its currently pursuing a master's degre in Computer and Systems Engineering at COPPE-UFRJ. He also teaches Entrepreneurship and Professional Ethics for the Technology in Computer Systems course at Universidade Federal Fluminense (UFF)</p>
						  </div>
					  </li>
					  <li>
						  <h3>Escape from slavery, before it gets to you</h3>
						  <span class="time">17:50</span>
						  <div class="speaker">
							  <a class="url speaker" href="http://beonthe.net/criar_site_fazer_site/pagina/home">
								  <span>Vinícius Teles</span>
								  <img width="75" src="images/palestrantes/vinicius.png" alt="Vinícius Teles" class="photo">
							  </a>
							  <p>Founder of <a target="_blank" href="http://www.improveit.com.br/">Improve It.</a> He is the author of the first brazilian book about XP and has coached and mentored teams for several years. He has been working with Rails since 2006. By the end of 2007 his company switched to a new business model where they now develop products for the web. Vinicius earns his living from clients' subscriptions for his company's main product, <a target="_blank" href="http://beonthe.net/">Be on the Net.</a></p>
							  </p>
						  </div>
					  </li>
					</ol>
				</div>
				<div id="sala_2" class="tab-content">
				  <ol class="schedule">
					  <li>
						  <h3>HTML 5 and the new JavaScript API</h3>
						  <span class="time">09:30</span>
						  <div class="speaker">
						    <p class="preamble">Talk on the new trends in client side web development, including several HTML 5 concepts and the JavaScript API.</p>
							  <a class="url speaker" href="http://yayquery.com.br/">
								  <span>Leonardo Balter</span>
								  <img width="75" src="images/palestrantes/leonardo.jpg" alt="Leonardo Balter" class="photo">
							  </a>
                <p>
                  Evangelist for client side technologies and web standards. Currently working as a software developer for Hi Midia and jQuery instructor for iLearn. Member of the W3C.
                  Promotes a campaign for the use of web standards in order to provide a better integration between different browsers and platforms as well as providing compatibility with mobile devices.
                </p>
						  </div>
					  </li>
					  <li>
						  <h3>Coffee break</h3>
						  <span class="time">10:20</span>
					  </li>
					  <li>
						  <h3>NodeJS - the kind of performance I've always wanted to have</h3>
						  <span class="time">11:00</span>
						  <div class="speaker">
							  <a class="url speaker" href="http://codificando.com/">
								  <span>Emerson Macedo</span>
								  <img width="75" src="images/palestrantes/emerson.jpg" alt="Emerson Macedo" class="photo">
							  </a>

							  <p>
							    Software architect/developer with over 12 years of experience. Currently works at Globo.com, in Rio de Janeiro.
							    Has participated in projects in the fields of telecommunications, insurance, banks, portals and others.
							    Agile methodology enthusiast, also works as a teacher for universities' extension courses. Writes regularly on his technology blog
							    <a target="_blank" href="http://codificando.com">codificando.com</a> and on <a target="_blank" href="http://visaoagil.wordpress.com/author/emerleite/">visão ágil</a>.
							  </p>

						  </div>
					  </li>
					  <li>
						  <h3>Coding Dojo + Open Space</h3>
						  <span class="time">11:50</span>
					  </li>
					  <li>
						  <h3>Lunch Break</h3>
						  <span class="time">12:20</span>
					  </li>
					  <li>
						  <h3>Coding Dojo + Open Space</h3>
						  <span class="time">13:20</span>
					  </li>
					  <li>
						  <h3>Symfony - OO PHP for grown ups</h3>
						  <span class="time">13:50</span>
						  <div class="speaker">
							  <p class="preamble"><a href="http://www.symfony-project.org/">Symfony</a> is a Object Oriented MVC PHP framework focused on rapid web application development. This talk will present this framework and show examples of how he can help developers create their own products in a fast and elegant way.</p>
							  <a class="url speaker" href="http://lsouza.pro.br">
								  <span>Luã de Souza</span>
								  <img width="75" src="images/palestrantes/lua.jpg" alt="Luã de Souza" class="photo">
							  </a>
							  <p>
							    Enthusiast of the agile framework Symfony and Wordpress. Partner and developer of Tapronto group, works with PHP for 6 years and with Symfony for 3. Always looking for projects that exercise creativity and that contribute to the web in any form.</p>
							  <p>&nbsp;</p>
						  </div>
					  </li>
					  <li>
						  <h3>Refactoring - Because just making it work is not enough</h3>
						  <span class="time">14:40</span>
						  <div class="speaker">
							  <a class="url speaker" href="http://caikesouza.com/">
								  <span>Caike Souza</span>
								  <img width="75" src="images/palestrantes/caike.jpg" alt="Caike Souza" class="photo">
							  </a>
                <p>
                  Software developer at <a href="http://envylabs.com/" target="_blank">EnvyLabs</a>, in Florida,
                  Caike spends his time between the computer and his guitars.
                  Participates in several communities and believes <a href="http://smallactsmanifesto.org/" target="_blank">small acts</a> make great revolutions.
                  He also helps run the <a href="http://orlandodojo.org/" target="_blank">Orlando Dojo</a>, which brings together the local community and promotes software development best practices.
                </p>
						  </div>
					  </li>

					  <li>
						  <h3>Architecture: tired of doing the same thing?</h3>
						  <span class="time">15:30</span>
						  <div class="speaker">
							  <p class="preamble">
							    We developers promise ourselves loose coupling with different architectural styles and usually find ourselves
							    repeatedly breaking all consumers after a new server release. This first part will show how REST can decrease coupling in different architectural styles, and its focus on a system that allows for the evolution of both sides, independently. Also, we'll see examples of systems that the thought is based on their characteristics as resources, stateless, hypermedia and etc.
                  <br/><br/>
                  In the end, remember: there is no silver bullet, but there is the bag man.
							  </p>
							  <a class="url speaker" href="http://blog.caelum.com.br">
								  <span>Guilherme Silveira</span>
								  <img width="75" src="images/palestrantes/guilherme.jpeg" alt="Guilherme Silveira" class="photo">
							  </a>
							  <p>
							    Technical leader for <a href="http://www.caelum.com.br/" target="_blank">Caelum</a>, pursuing his applied mathematics degree in USP, created VRaptor in 2003 along with Paulo Silveira and most recenlty created Restfulie.
                  Currently focusing in the implementation of system integration through the use of REST API's and its positive impact in clients's business plans.
                  He is a commiter for projects like Restfulie, XStream, Paranamer an Waffle, focusing in Java and Ruby. He is also responsible for the training content at <a href="http://www.caelum.com.br/" target="_blank">Caelum</a>.
                </p>
						  </div>
					  </li>
					  <li>
						  <h3>Coffee break</h3>
						  <span class="time">16:20</span>
					  </li>
					  <li>
						  <h3>Unit Tests in Javascript: to Mock or not to Mock ?</h3>
						  <span class="time">17:00</span>
						  <div class="speaker">
							  <p class="preamble">This talk will cover:<br />
							    - how you can write testable javascript code.<br />
							    - what is a Mock in term os of unit tests and how to run this via client side.<br />
							    - some of the most popular testing and Mocking tools and <br />
							    - testing philosophy in other languages, like Python, brought to client side code. </p>
							  <a class="url speaker" href="#">
								  <span>Márcio Santana</span>
								  <img width="75" src="images/palestrantes/marcio-santana.jpg" alt="Márcio Santana" class="photo">
							  </a>
							  <p>
							    Developing since 2001, having worked with PERL, ASP, .NET JavaScript and Python.
                  Promotes the use of JavaScript as a functional language. Currently working as senior developer at Globo.com,
                  where he tries to apply his server side development expertise to client side code.
                </p>
						  </div>
					  </li>
					  <li>
						  <h3>Surprise Speaker</h3>
						  <span class="time">17:50</span>
					  </li>
					</ol>
				</div>
				<ol class="schedule">
				 <li>
				  <h3>Ending Keynote</h3>
				  <span class="time">18:40</span>
				 </li>
				 <li>
				  <h3>#horaextra</h3>
				  <span class="time">19:00</span>
				 </li>
				 <li>
				  <p id="atencao">PS: This schedule is subject to change.</p>
				 </li>
				</ol>
				
				<div id="map">
				  <h2>How to get there ?</h2>
				
				  <p><strong>Hotel Guanabara</strong><br />
				     Avenida Presidente Vargas, 392. Centro, Rio de Janeiro - RJ</p>
				  <iframe width="680" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Hotel+Guanabara,+Rio+de+Janeiro,+Brazil&amp;sll=37.0625,-95.677068&amp;sspn=49.490703,102.216797&amp;ie=UTF8&amp;hq=Hotel+Guanabara,&amp;hnear=Rio+de+Janeiro,+Brazil&amp;ll=-22.901097,-43.179513&amp;spn=0.002421,0.005681&amp;z=14&amp;iwloc=A&amp;cid=12863607507337796918&amp;output=embed"></iframe>
			  </div>
			</div>
			<%= erb(:sidebar, :layout => false) %>
		</div>
	</div>
    
    <!-- User Voice feedback -->
    <script type="text/javascript">
      var uservoiceJsHost = ("https:" == document.location.protocol) ? "https://uservoice.com" : "http://cdn.uservoice.com";
      document.write(unescape("%3Cscript src='" + uservoiceJsHost + "/javascripts/widgets/tab.js' type='text/javascript'%3E%3C/script%3E"))
    </script>
    <script type="text/javascript">
      UserVoice.Tab.show({ 
        /* required */
        key: 'devinrio',
        host: 'devinrio.uservoice.com', 
        forum: '28183', 
        /* optional */
        alignment: 'left',
        background_color:'#f60', 
        text_color: 'white',
        hover_color: '#f60',
        lang: 'pt_BR'
      })
    </script>
    <!-- / User Voice feedback -->
    
    <!-- Google Analytics -->
    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      try {
        var pageTracker = _gat._getTracker("UA-10307500-1");
        pageTracker._trackPageview();
      } catch(err) {}
    </script>
    <!-- / Google Analytics -->
    
  </body>
</html>
