<article>
  <h1>Por que não haverá Dev in Rio em 2011?</h1>

  <p>O Dev in Rio nasceu como um evento de todos e para todos. No sentido mais desprendido do que nós acreditamos que seja o trabalho em comunidade: fazer ações em prol da comunidade e de quem ainda não se incorporou nela. Sendo assim, o conceito do Dev in Rio não se limita apenas ao compartilhamento de ideias, o nosso foco também está no fortalecimento dos laços dos desenvolvedores Brasil afora.</p>

  <p>Realizamos duas edições de muito sucesso em <a href="http://www.devinrio.com.br/2009">2009</a> e <a href="http://www.devinrio.com.br/2010">2010</a>. Em 2011 a espera pelo evento era grande e nós nos esforçamos para que ele fosse possível. Porém neste ano nós nos deparamos com complicadores que não ocorreram anteriormente, sendo o principal deles o <a href="http://www.rockinrio.com.br/">Rock in Rio</a>, que acabou coincidindo com a nossa agenda, acarretando na dificuldade do nosso público conseguir vagas em hotéis.</p>

  <p>Nós pedimos sinceras desculpas aos que se programaram para comparecer no evento. De todo modo, ratificamos que o cancelamento é do Dev in Rio edição 2011, ou seja, novos anos virão e novas iniciativas certamente surgirão com eles, incluindo a volta do Dev in Rio.</p>

  <p>Atenciosamente,<br />
    Equipe Dev in Rio.</p>
</article>