<!DOCTYPE html>

<html>
  <head>
    <meta charset="UTF-8">
    <title>Dev In Rio 2010 - Hotel Guanabara - 9 de outubro</title>

    <meta name="description" content="DevInRio 2010 - Um evento para reunir todas classes de aventureiros em uma só questão"  />

    <link href="stylesheets/devinrio.css" media="screen" rel="stylesheet" type="text/css" />

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript"></script>
    <script src="javascripts/global.js" type="text/javascript"></script>

    <% if locals[:sala] == 2 %>
      <script>
        $(function() {
          $(".tab-content").fadeOut();
          $("#sala_2").fadeIn();
          $("ul#tabs li a").removeClass("active");
          $("ul#tabs li a#nav_sala_2").addClass("active");
        });
      </script>
    <% end %>

    <!--[if lte IE 8]>
    <script src="javascripts/html5.js" type="text/javascript"></script>
    <![endif]-->
  </head>

  <body>
	<div id="wrap">
		<div id="crumb">
			<%= erb(:header, :layout => false) %>
			<div id="content">
				<h2> Programa&ccedil;&atilde;o </h2>
				<ol class="schedule">
				  <li>
						<h3>Credenciamento e socialização</h3>
						<span class="time">08:30</span>
					</li>
					<li>
						<h3>Abertura oficial</h3>
						<span class="time">09:10</span>
						<div class="speaker">
							<a class="url speaker" href="http://mergulhao.info/">
								<span>Sylvestre Mergulhão</span>
								<img width="75" src="images/palestrantes/sylvestre.jpg" alt="Sylvestre Mergulhão" class="photo">
							</a>
							<p>Membro atuante da comunidade <a href="http://horaextra.org">#horaextra</a> do Rio de Janeiro. Mantém o blog pessoal <a href="http://mergulhao.info">mergulhao.info</a>. CTO do site de classificados <a href="http://redeparede.com.br">Redeparede</a>. Fundou em 2010 a <a href="http://helabs.com.br">Helabs Consulting</a> para entrar no mercado de consultoria e metodologias Ágeis.</p>
						</div>
					</li>
			  </ol>
			  <ul id="tabs">
			    <li><a href="#" id="nav_sala_1" class="active">Sala 1</a></li>
			    <li><a href="#" id="nav_sala_2">Sala 2</a></li>
			  </ul>
			  <div id="sala_1" class="tab-content">
			    <ol class="schedule">
					  <li>
						  <h3>As últimas novidades no mundo Ruby</h3>
						  <span class="time">09:30</span>
						  <div class="speaker">
							  <a class="url speaker" href="http://akitaonrails.com/">
								  <span>Fábio Akita</span>
								  <img width="75" src="images/palestrantes/akita.png" alt="Fábio Akita" class="photo">
							  </a>
							  <p>Um dos mais ativos evangelistas de Ruby on Rails da América Latina. Organizou e promoveu a primeira real conferência de Ruby on Rails no Brasil: RejectConf São Paulo ‘07, e mais recentemente organizou o <a target="_blank" href="http://www.railssummit.com.br/">Rails Summit Latin America em 2009.</a> Bloga regularmente em português e inglês no <a target="_blank" href="http://akitaonrails.com/">AkitaOnRails.com</a> sobre desenvolvimento de software, Ruby on Rails, entre outras coisas. Ele também ajuda a evangelizar novas tecnologias e a Filosofia Ágil.
							  </p>
						  </div>
					  </li>
					  <li>
						  <h3>Coffee break</h3>
						  <span class="time">10:20</span>
					  </li>
					  <li>
						  <h3>Empreendendo uma comunidade de sucesso</h3>
						  <span class="time">11:00</span>
						  <div class="speaker">
							  <a class="url speaker" href="http://henriquebastos.net/">
								  <span>Henrique Bastos</span>
								  <img width="75" src="images/palestrantes/henrique.png" alt="Henrique Bastos" class="photo">
							  </a>
							  <p>Henrique é apaixonado por desenvolvimento de software! Trabalha como diretor de tecnologia na Myfreecomm, criando sistemas com Métodos Ágeis, Python e Software Livres. Está constantemente presente nas comunidades de software organizando eventos e encontros, ministrando palestras, cursos e evangelizando o desenvolvimento sustentável de software, no Brasil e no exterior. Dentre muitas iniciativas, foi um dos organizadores do Dev in Rio 2009 e das caravanas PythonCampus que visitam universidades promovendo a integração entre alunos e o mercado de tecnologia através de software livre. .
							  </p>
						  </div>
					  </li>
					  <li>
						  <h3>Apresentação surpresa</h3>
						  <span class="time">11:50</span>
					  </li>
					  <li>
						  <h3>Intervalo para almo&ccedil;o</h3>
						  <span class="time">12:20</span>
					  </li>
					  <li>
						  <h3>Apresentação surpresa</h3>
						  <span class="time">13:20</span>
					  </li>
					  <li>
						  <h3>Transformando idéias em negócios rentáveis</h3>
						  <span class="time">13:50</span>
						  <div class="speaker">
							  <a class="url speaker" href="http://bielsystems.com.br/">
								  <span>Rafael Lima</span>
								  <img width="75" src="images/palestrantes/rafael.jpg" alt="Rafael Lima" class="photo">
							  </a>
							  <p>Sócio Fundador da <a target="_blank" href="http://bielsystems.com.br">BielSystems</a> e da <a target="_blank" href="http://empreendaweb.com.br">Empreenda Web</a> e Diretor da <a target="_blank" href="http://myfreecomm.com.br">Myfreecomm,</a> trabalha com desenvolvimento de software há mais de 10 anos. Programa, mas hoje atua basicamente na gestão e no nível estratégico dos projetos que participa. Escolheu Ruby on Rails para todos os aplicativos desenvolvidos pela BielSystems.
							  </p>
						  </div>
					  </li>
					  <li>
						  <h3>Apresentação surpresa</h3>
						  <span class="time">14:40</span>
					  </li>
					  <li>
						  <h3>Arduino: construindo robôs com software e hardware livres</h3>
						  <span class="time">15:10</span>
						  <div class="speaker">
							  <a class="url speaker" href="http://blog.justen.eng.br/">
								  <span>Álvaro Justen</span>
								  <img width="75" src="images/palestrantes/alvaro.jpg" alt="Álvaro Justen" class="photo">
							  </a>
							  <p>Também conhecido como <b>Turicas</b>, é graduando em <a href="http://www.telecom.uff.br/">Engenharia de Telecomunicações</a> pela <a href="http://www.uff.br/">Universidade Federal Fluminense</a>. Usuário de GNU/Linux há mais de 8 anos, ativista do software livre, programador <a href="http://www.python.org/">Python</a> e desenvolvedor do <a href="http://www.web2py.com/">web2py</a>. Em sua vida acadêmica já desenvolveu atividades de pesquisa, ensino e extensão, tendo participado do <a href="http://www.telecom.uff.br/pet">Programa de Educação Tutorial (PET-Tele)</a> e do <a href="http://complex.if.uff.br/">grupo de pesquisa em física estatística e computacional do IF-UFF</a>.
							  </p>
						  </div>
					  </li>
					  <li>
						  <h3>Por que eu sou fanático por testes e você é um bundão</h3>
						  <span class="time">16:00</span>
						  <div class="speaker">
							  <p class="preamble">A idéia desta apresentação não é ser uma coisa tradicional. A apresentação é uma peça teatral que contará a história de um desenvolvedor que está tendo problemas de bugs, prazo estourado entre outros e de um desenvolvedor que usa o test-driven development em seus projetos.</p>
							  <a class="url speaker" href="http://mergulhao.info/">
								  <span>Sylvestre Mergulhão</span>
								  <img width="75" src="images/palestrantes/sylvestre.jpg" alt="Sylvestre Mergulhão" class="photo">
							  </a>
							  <p>Membro atuante da comunidade <a href="http://horaextra.org">#horaextra</a> do Rio de Janeiro. Mantém o blog pessoal <a href="http://mergulhao.info">mergulhao.info</a>. CTO do site de classificados <a href="http://redeparede.com.br">Redeparede</a>. Fundou em 2010 a <a href="http://helabs.com.br">Helabs Consulting</a> para entrar no mercado de consultoria e metodologias Ágeis.</p>

							  <p>&nbsp;</p>
							  <a class="url speaker" href="http://twitter.com/henriquecrang">
								  <span>Henrique Andrade</span>
								  <img width="75" src="images/palestrantes/henrique-andrade.jpg" alt="Henrique Andrade" class="photo">
							  </a>
							  <p>Coordenador do Setor de Desenvolvimento de Sistemas da Coordenação de Ensino à Distância da Universidade Federal do Estado do Rio de Janeiro (CEAD-UNIRIO). Bacharel em Sistemas de Informação. Mestrando em Engenharia de Sistemas e Computação na COPPE-UFRJ. Professor de Emprrendedorismo e Ética Profissional no curso Tecnologia em Sistemas e Computação na Universidade Federal Fluminense (UFF).</p>
							  </p>
						  </div>
					  </li>
					  <li>
						  <h3>Coffee break</h3>
						  <span class="time">16:50</span>
					  </li>
					  <li>
						  <h3>Fuja da Escravidão, antes que ela te alcance </h3>
						  <span class="time">17:30</span>
						  <div class="speaker">
							  <a class="url speaker" href="http://beonthe.net/criar_site_fazer_site/pagina/home">
								  <span>Vinícius Teles</span>
								  <img width="75" src="images/palestrantes/vinicius.png" alt="Vinícius Teles" class="photo">
							  </a>
							  <p>Fundador da consultoria <a target="_blank" href="http://www.improveit.com.br/">Improve It.</a> Ele escreveu o primeiro livro brasileiro de XP e trabalhou como coach e mentor de XP por muitos anos. Ele vem desenvolvendo com Rails desde 2006. No fim de 2007 ele mudou sua empresa para um novo modelo de negócios, transformando a Improve It em uma empresa de produtos web. Ele agora se sustenta com assinaturas dos clientes de seu principal produto, o <a target="_blank" href="http://beonthe.net/">Be on the Net.</a>
							  </p>
						  </div>
					  </li>
					  <li>
						  <h3>Apresentação surpresa</h3>
						  <span class="time">18:20</span>
					  </li>
					</ol>
				</div>
				<div id="sala_2" class="tab-content">
				  <ol class="schedule">
					  <li>
						  <h3>HTML 5 e as novas JS APIs</h3>
						  <span class="time">09:30</span>
						  <div class="speaker">
							  <p class="preamble">Palestra sobre as novas tendencias do desenvolvimento de cliente web. Nela serão abordados diversos conceitos do HTML5 e JS API</p>

							  <a class="url speaker" href="http://yayquery.com.br/">
								  <span>Leonardo Balter</span>
								  <img width="75" src="images/palestrantes/leonardo.jpg" alt="Leonardo Balter" class="photo">
							  </a>
							  <p>Evangelista de tecnologias client side e web standards. Atualmente trabalha como desenvolvedor web na Hi Midia e professor de jQuery no iLearn, membro do W3C. Dissemina uma campanha para o uso de webstandards que ofereça maior interoperabilidade entre diferentes navegadores e plataformas, assim como atender tecnologias de dispositivos móveis.</p>
						  </div>
					  </li>
					  <li>
						  <h3>Coffee break</h3>
						  <span class="time">10:20</span>
					  </li>
					  <li>
						  <h3>NodeJS - a performance que eu sempre quis ter</h3>
						  <span class="time">11:00</span>
						  <div class="speaker">
							  <a class="url speaker" href="http://codificando.com/">
								  <span>Emerson Macedo</span>
								  <img width="75" src="images/palestrantes/emerson.jpg" alt="Emerson Macedo" class="photo">
							  </a>
							  <p>É Arquiteto/Desenvolvedor de Software com mais de 12 anos de experiência. Atualmente trabalha na globo.com, sediado no Rio de Janeiro. Possui vasta experiência nos ramos de telecomunicações, seguros, bancos, portais, entre outros.
  Entusiasta de metodologias ágeis, também é professor de cursos de extensão em faculdades. Escreve regularmente em seu blog de tecnologia <a target="_blank" href="http://codificando.com">codificando.com</a> e no blog <a target="_blank" href="http://visaoagil.wordpress.com/author/emerleite/">visão ágil</a>.</p>
						  </div>
					  </li>
					  <li>
						  <h3>Coding Dojo + Open Space</h3>
						  <span class="time">11:50</span>
					  </li>
					  <li>
						  <h3>Intervalo para almo&ccedil;o</h3>
						  <span class="time">12:20</span>
					  </li>
					  <li>
						  <h3>Coding Dojo + Open Space</h3>
						  <span class="time">13:20</span>
					  </li>
					  <li>
						  <h3>Symfony - OO PHP para gente grande</h3>
						  <span class="time">13:50</span>
						  <div class="speaker">
							  <p class="preamble"><a href="http://www.symfony-project.org/">Symfony</a> é um framework PHP que segue o padrão MVC, focado em desenvolver aplicações web de forma rápida. A idéia da palestra é apresentá-lo e mostrar o quanto ele pode ajudar o desenvolvedor a criar seus produtos de forma rápida e elegante.</p>

							  <a class="url speaker" href="http://lsouza.pro.br">
								  <span>Luã de Souza</span>
								  <img width="75" src="images/palestrantes/lua.jpg" alt="Luã de Souza" class="photo">
							  </a>
							  <p>Entusiasta do framework ágil Symfony e do Wordpress. Sócio e desenvolvedor do grupo Tapronto, trabalha com PHP há 6 anos e com Symfony há 3. Sempre em busca de projetos que exercitem a criatividade e que contribuam de alguma forma pra web.</p>
							  <p>&nbsp;</p>
						  </div>
					  </li>
					  <li>
						  <h3>Apresentação surpresa</h3>
						  <span class="time">14:40</span>
					  </li>
					  <li>
						  <h3>Refactoring - Porque apenas fazer funcionar não é o suficiente</h3>
						  <span class="time">15:10</span>
						  <div class="speaker">
							  <a class="url speaker" href="http://caikesouza.com/">
								  <span>Caike Souza</span>
								  <img width="75" src="images/palestrantes/caike.jpg" alt="Caike Souza" class="photo">
							  </a>
							  <p>Desenvolvedor de software na <a href="http://envylabs.com/" target="_blank">EnvyLabs</a>, na Flórida, Caike tenta dividir seu tempo entre o computador e suas guitarras. Participa de diversas comunidades e acredita que <a href="http://smallactsmanifesto.org/" target="_blank">pequenos atos</a> são capazes de gerar grandes revoluções. Também ajuda a organizar o <a href="http://orlandodojo.org/" target="_blank">Orlando Dojo</a>, com o objetivo de integrar a comunidade local e promover boas práticas de desenvolvimento ágil.</p>
						  </div>
					  </li>
					  <li>
						  <h3>Arquitetura: cansado da mesmice?</h3>
						  <span class="time">16:00</span>
						  <div class="speaker">
							  <p class="preamble">
							    Nós, desenvolvedores, nos prometemos menor acoplamento com estilos
arquiteturais diversos e nos vemos repetidamente quebrando todos os
clientes a cada novo release de uma versão de um server. Veremos como
REST propõe diminuir o acoplamento encontrado em outros estilos
arquiteturais e foca em um sistema que permite a evolução de ambas as
partes independentemente. Além disso, veremos exemplos de sistemas que
com um pensamento baseado em suas características como recursos,
stateless, hipermídia e etc.<br /><br />No final, lembre-se: nao existe bala de prata, mas existe o homem do saco.
							  </p>
							  <a class="url speaker" href="http://blog.caelum.com.br">
								  <span>Guilherme Silveira</span>
								  <img width="75" src="images/palestrantes/guilherme.jpeg" alt="Guilherme Silveira" class="photo">
							  </a>
							  <p>Líder técnico da Caelum, graduando em matemática aplicada na USP, Criou o Vraptor em 2003 junto com Paulo Silveira e o mais recentemente o Restfulie.
							  Atualmente tem o foco na implementação de integração de sistemas através de api's rest e seu impacto positivo no plano de negócios dos clientes, alem de ser commiter de projetos como restfulie, xstream, paranamer e waffle com ênfase em Java e Ruby. É também responsável pelo conteúdo técnico dos
     cursos.</p>
						  </div>
					  </li>
					  <li>
						  <h3>Coffee break</h3>
						  <span class="time">16:50</span>
					  </li>
					 <li>
						  <h3>Testes unitários em JavaScript: usar ou não usar mock?</h3>
						  <span class="time">17:30</span>
						  <div class="speaker">
							  <p class="preamble">Nesta palestra, será abordado:<br />
                  - como seu código javascript pode ser escrito para ser "testável";<br />
                  - o que é "mock" em termos de teste unitário e como executar em código client;<br />
                  - algumas ferramentas de teste e de mock mais usadas e<br />
                  - filosofia de testes em outras linguagens, como Python, trazidas para o código client.</p>
							  <a class="url speaker" href="#">
								  <span>Márcio Santana</span>
								  <img width="75" src="images/palestrantes/marcio-santana.jpg" alt="Márcio Santana" class="photo">
							  </a>
							  <p>É desenvolvedor desde 2001 já tendo passado por PERL, ASP, .NET, JavaScript e Python. Disseminadordo uso de JavaScript como linguagem funcional. Atualmente é desenvolvedor sênior na Globo.com onde procura empregar a mesma experiência de desenvolvimento server side em código client.</p>
						  </div>
					  </li>
					  <li>
				      <h3>Apresentação surpresa</h3>
				      <span class="time">18:20</span>
				     </li>
					</ol>
				</div>
				<ol class="schedule">
				 <li>
				  <h3>Encerramento</h3>
				  <span class="time">18:40</span>
				 </li>
				 <li>
				  <h3>#horaextra</h3>
				  <span class="time">19:00</span>
				 </li>
				 <li>
				  <p id="atencao">OBS: Programação sujeita à alteração sem aviso prévio.</p>
				 </li>
				</ol>

				<div id="map">
				  <h2>Como chegar</h2>

				  <p><strong>Hotel Guanabara</strong><br />
				     Avenida Presidente Vargas, 392. Centro, Rio de Janeiro - RJ</p>
				  <iframe width="680" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Hotel+Guanabara,+Rio+de+Janeiro,+Brazil&amp;sll=37.0625,-95.677068&amp;sspn=49.490703,102.216797&amp;ie=UTF8&amp;hq=Hotel+Guanabara,&amp;hnear=Rio+de+Janeiro,+Brazil&amp;ll=-22.901097,-43.179513&amp;spn=0.002421,0.005681&amp;z=14&amp;iwloc=A&amp;cid=12863607507337796918&amp;output=embed"></iframe>
			  </div>
			</div>
			<%= erb(:sidebar, :layout => false) %>
		</div>
	</div>

    <!-- User Voice feedback -->
    <script type="text/javascript">
      var uservoiceJsHost = ("https:" == document.location.protocol) ? "https://uservoice.com" : "http://cdn.uservoice.com";
      document.write(unescape("%3Cscript src='" + uservoiceJsHost + "/javascripts/widgets/tab.js' type='text/javascript'%3E%3C/script%3E"))
    </script>
    <script type="text/javascript">
      UserVoice.Tab.show({
        /* required */
        key: 'devinrio',
        host: 'devinrio.uservoice.com',
        forum: '28183',
        /* optional */
        alignment: 'left',
        background_color:'#f60',
        text_color: 'white',
        hover_color: '#f60',
        lang: 'pt_BR'
      })
    </script>
    <!-- / User Voice feedback -->

    <!-- Google Analytics -->
    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      try {
        var pageTracker = _gat._getTracker("UA-10307500-1");
        pageTracker._trackPageview();
      } catch(err) {}
    </script>
    <!-- / Google Analytics -->

  </body>
</html>

