<!DOCTYPE html>

<html>
  <head>
    <meta charset="UTF-8">
    <title>Dev In Rio 2010 - Hotel Guanabara - 9 de outubro</title>
    
    <meta name="description" content="DevInRio 2010 - Um evento para reunir todas classes de aventureiros em uma só questão"  />
    
    <!--[if lte IE 8]>
    <script src="javascripts/html5.js" type="text/javascript"></script>
    <![endif]-->
    
    <link href="stylesheets/devinrio.css" media="screen" rel="stylesheet" type="text/css" />
  </head>
  
  <body>
	<div id="wrap">
		<div id="crumb">
			<%= erb(:header, :layout => false) %>
			<div id="content">
	<iframe src ="http://eventoshq-production.heroku.com/42740d21a0162e5cae7d67e8f116dc6f1e35d6cb/subscriptions/new" class="form_iframe" style="border: 0; width: 600px; height:2270px;" scrolling="no" frameborder="0"><p>O seu browser não permite iframes.</p></iframe>
			</div>
			<%= erb(:sidebar, :layout => false) %>
		</div>
	</div>
    
    <%= erb(:scripts, :layout => false) %>
    
  </body>
</html>
