<article>
  <h1>Localização</h1>
  
  <p><strong>Hotel Guanabara</strong><br />
     Avenida Presidente Vargas, 392. Centro, Rio de Janeiro - RJ</p>
  <iframe width="660" height="330" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Hotel+Guanabara,+Rio+de+Janeiro,+Brazil&amp;sll=37.0625,-95.677068&amp;sspn=49.490703,102.216797&amp;ie=UTF8&amp;hq=Hotel+Guanabara,&amp;hnear=Rio+de+Janeiro,+Brazil&amp;ll=-22.901097,-43.179513&amp;spn=0.002421,0.005681&amp;z=14&amp;iwloc=A&amp;cid=12863607507337796918&amp;output=embed"></iframe>
</article>

