<!DOCTYPE html>

<html>
  <head>
    <meta charset="UTF-8">
    <title>Dev In Rio 2010 - Hotel Guanabara - 9 de outubro</title>
    
    <meta name="description" content="DevInRio 2010 - Um evento para reunir todas classes de aventureiros em uma só questão"  />
    
    <!--[if lte IE 8]>
    <script src="javascripts/html5.js" type="text/javascript"></script>
    <![endif]-->
    
    <link href="stylesheets/devinrio.css" media="screen" rel="stylesheet" type="text/css" />
  </head>
  
  <body>
	<div id="wrap">
		<div id="crumb">
			<%= erb(:header, :layout => false) %>
			<div id="content">
        <h2>Veja os slides de algumas das aclamadas palestras</h2>
        
        <div id="text">
	        <p><strong>Construindo robôs com software e hardware livres</strong> -- Álvaro Justen</p>
	        <div style="width: 600px; font-size: .8em;"><object id="__sse5408742" width="425" height="355"><param name="movie" value="http://static.slidesharecdn.com/swf/ssplayer2.swf?doc=arduino-devinrio-101010201300-phpapp01&amp;stripped_title=construindo-robs-com-software-e-hardware-livres&amp;userName=turicas" /><param name="allowFullScreen" value="true"/><param name="allowScriptAccess" value="always"/><embed name="__sse5408742" src="http://static.slidesharecdn.com/swf/ssplayer2.swf?doc=arduino-devinrio-101010201300-phpapp01&amp;stripped_title=construindo-robs-com-software-e-hardware-livres&amp;userName=turicas" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="425" height="355"></embed></object><br />Link permanente: <a href="http://www.slideshare.net/turicas/construindo-robs-com-software-e-hardware-livres">http://www.slideshare.net/turicas/construindo-robs-com-software-e-hardware-livres</a></div>
	        
	        <p><strong>APIs do HTML 5 - DevInRio 2010</strong> -- Leonardo Balter</p>
	        
	        <div style="width: 600px; font-size: .8em;"><object id="__sse5405536" width="425" height="355"><param name="movie" value="http://static.slidesharecdn.com/swf/ssplayer2.swf?doc=apisdohtml5-101010083300-phpapp02&amp;stripped_title=apis-do-html-5&amp;userName=leobalter" /><param name="allowFullScreen" value="true"/><param name="allowScriptAccess" value="always"/><embed name="__sse5405536" src="http://static.slidesharecdn.com/swf/ssplayer2.swf?doc=apisdohtml5-101010083300-phpapp02&amp;stripped_title=apis-do-html-5&amp;userName=leobalter" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="425" height="355"></embed></object><br />Link permanente: <a href="http://www.slideshare.net/leobalter/apis-do-html-5">http://www.slideshare.net/leobalter/apis-do-html-5</a></div>
	        
	        <p><strong>Empreendendo uma Comunidade de Sucesso</strong> -- Henrique Bastos</p>
	        
	        <div style="width: 600px; font-size: .8em;"><object id="__sse5141215" width="425" height="355"><param name="movie" value="http://static.slidesharecdn.com/swf/ssplayer2.swf?doc=oxenterailsempreendendoumacomunidadedesucesso-v2-100906172626-phpapp02&amp;stripped_title=empreendendo-uma-comunidade-de-sucesso&amp;userName=henriquebastos" /><param name="allowFullScreen" value="true"/><param name="allowScriptAccess" value="always"/><embed name="__sse5141215" src="http://static.slidesharecdn.com/swf/ssplayer2.swf?doc=oxenterailsempreendendoumacomunidadedesucesso-v2-100906172626-phpapp02&amp;stripped_title=empreendendo-uma-comunidade-de-sucesso&amp;userName=henriquebastos" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="425" height="355"></embed></object><br />Link permanente: <a href="http://www.slideshare.net/henriquebastos/empreendendo-uma-comunidade-de-sucesso">http://www.slideshare.net/henriquebastos/empreendendo-uma-comunidade-de-sucesso</a></div>
	        
	        <p><strong>NodeJS</strong> -- Emerson Macedo</p>
	        
	        <div style="width: 600px; font-size: .8em;"><object id="__sse5401855" width="425" height="355"><param name="movie" value="http://static.slidesharecdn.com/swf/ssplayer2.swf?doc=palestradevinrio-101009132957-phpapp01&amp;stripped_title=devinrio-2010-nodejs&amp;userName=emerleite" /><param name="allowFullScreen" value="true"/><param name="allowScriptAccess" value="always"/><embed name="__sse5401855" src="http://static.slidesharecdn.com/swf/ssplayer2.swf?doc=palestradevinrio-101009132957-phpapp01&amp;stripped_title=devinrio-2010-nodejs&amp;userName=emerleite" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="425" height="355"></embed></object><br />Link permanente: <a href="http://www.slideshare.net/emerleite/devinrio-2010-nodejs">http://www.slideshare.net/emerleite/devinrio-2010-nodejs</a></div>
	        
	        <p><strong>Transformando ideias em negócios rentáveis</strong> -- Rafael Lima</p>

  	      <div style="width: 600px; font-size: .8em;"><object id="__sse5406826" width="425" height="355"><param name="movie" value="http://static.slidesharecdn.com/swf/ssplayer2.swf?doc=transformandoideiasemnegociosrentaveis-101010135705-phpapp02&amp;stripped_title=transformando-ideias-em-negocios-rentaveis&amp;userName=rafael_lima" /><param name="allowFullScreen" value="true"/><param name="allowScriptAccess" value="always"/><embed name="__sse5406826" src="http://static.slidesharecdn.com/swf/ssplayer2.swf?doc=transformandoideiasemnegociosrentaveis-101010135705-phpapp02&amp;stripped_title=transformando-ideias-em-negocios-rentaveis&amp;userName=rafael_lima" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="425" height="355"></embed></object><br />Link permanente: <a href="http://www.slideshare.net/rafael_lima/transformando-ideias-em-negocios-rentaveis">http://www.slideshare.net/rafael_lima/transformando-ideias-em-negocios-rentaveis</a></div>
  	        
  	      <p><strong>Symfony - PHP pra gente grande</strong> -- Luã de Souza</p>

    	    <div style="width: 600px; font-size: .8em;"><object id="__sse5402641" width="425" height="355"><param name="movie" value="http://static.slidesharecdn.com/swf/ssplayer2.swf?doc=symfony-101010040108-phpapp01&amp;stripped_title=symfony-php-pra-gente-grande&amp;userName=hisamu" /><param name="allowFullScreen" value="true"/><param name="allowScriptAccess" value="always"/><embed name="__sse5402641" src="http://static.slidesharecdn.com/swf/ssplayer2.swf?doc=symfony-101010040108-phpapp01&amp;stripped_title=symfony-php-pra-gente-grande&amp;userName=hisamu" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="425" height="355"></embed></object><br />Link permanente: <a href="http://www.slideshare.net/hisamu/symfony-php-pra-gente-grande">http://www.slideshare.net/hisamu/symfony-php-pra-gente-grande</a></div>
	        <p><strong>Uma Visão do Mundo Ruby</strong> -- Fábio Akita</p>

    	    <div style="width: 600px; font-size: .8em;"><object id="__sse5407170" width="425" height="355"><param name="movie" value="http://static.slidesharecdn.com/swf/ssplayer2.swf?doc=umavisodomundoruby-devinrio2010-101010151154-phpapp02&amp;stripped_title=dev-in-rio-uma-viso-do-mundo-ruby&amp;userName=akitaonrails" /><param name="allowFullScreen" value="true"/><param name="allowScriptAccess" value="always"/><embed name="__sse5407170" src="http://static.slidesharecdn.com/swf/ssplayer2.swf?doc=umavisodomundoruby-devinrio2010-101010151154-phpapp02&amp;stripped_title=dev-in-rio-uma-viso-do-mundo-ruby&amp;userName=akitaonrails" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="425" height="355"></embed></object><br />Link permanente: <a href="http://www.slideshare.net/akitaonrails/dev-in-rio-uma-viso-do-mundo-ruby">http://www.slideshare.net/akitaonrails/dev-in-rio-uma-viso-do-mundo-ruby</a></div>
    	    
    	    <p><strong>Refactoring</strong> -- Caike Souza</p>

    	    <div style="width: 600px; font-size: .8em;"><object id="__sse5412194" width="425" height="355"><param name="movie" value="http://static.slidesharecdn.com/swf/ssplayer2.swf?doc=refactoringrubydevinrio-101011055140-phpapp01&amp;stripped_title=refactoring-5412194&amp;userName=caikesouza" /><param name="allowFullScreen" value="true"/><param name="allowScriptAccess" value="always"/><embed name="__sse5412194" src="http://static.slidesharecdn.com/swf/ssplayer2.swf?doc=refactoringrubydevinrio-101011055140-phpapp01&amp;stripped_title=refactoring-5412194&amp;userName=caikesouza" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="425" height="355"></embed></object><br />Link permanente: <a href="http://www.slideshare.net/caikesouza/refactoring-5412194">http://www.slideshare.net/caikesouza/refactoring-5412194</a></div>
    	    
    	    <p><strong>Arquitetura: chega de mesmice</strong> -- Guilherme Silveira</p>

    	    <div style="width: 600px; font-size: .8em;"><object id="__sse5425777" width="425" height="355"><param name="movie" value="http://static.slidesharecdn.com/swf/ssplayer2.swf?doc=arquitetura-chegademesmice-101012130139-phpapp01&amp;stripped_title=arquitetura-chega-de-mesmice-5425777&amp;userName=guilhermecaelum" /><param name="allowFullScreen" value="true"/><param name="allowScriptAccess" value="always"/><embed name="__sse5425777" src="http://static.slidesharecdn.com/swf/ssplayer2.swf?doc=arquitetura-chegademesmice-101012130139-phpapp01&amp;stripped_title=arquitetura-chega-de-mesmice-5425777&amp;userName=guilhermecaelum" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="425" height="355"></embed></object><br />Link permanente: <a href="http://www.slideshare.net/guilhermecaelum/arquitetura-chega-de-mesmice-5425777">http://www.slideshare.net/guilhermecaelum/arquitetura-chega-de-mesmice-5425777</a></div>
    	    
    	    <p><strong>Fuja da escravidão antes que ela te alcance</strong> -- Vinícius Teles</p>

    	    <div style="width: 600px; font-size: .8em;"><object id="__sse4261724" width="425" height="355"><param name="movie" value="http://static.slidesharecdn.com/swf/ssplayer2.swf?doc=pythoncampus-100523222347-phpapp02&amp;stripped_title=fuja-da-escravido-antes-que-ela-te-alcance-4261724&amp;userName=viniciusteles" /><param name="allowFullScreen" value="true"/><param name="allowScriptAccess" value="always"/><embed name="__sse4261724" src="http://static.slidesharecdn.com/swf/ssplayer2.swf?doc=pythoncampus-100523222347-phpapp02&amp;stripped_title=fuja-da-escravido-antes-que-ela-te-alcance-4261724&amp;userName=viniciusteles" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="425" height="355"></embed></object><br />Link permanente: <a href="http://www.slideshare.net/viniciusteles/fuja-da-escravido-antes-que-ela-te-alcance-4261724">http://www.slideshare.net/viniciusteles/fuja-da-escravido-antes-que-ela-te-alcance-4261724</a></div>
    	    
    	    <p>&nbsp;</p>
    	  
	      </div>
			</div>
			<%= erb(:sidebar, :layout => false) %>
		</div>
	</div>
    
    <%= erb(:scripts, :layout => false) %>
    
  </body>
</html>