      <div id="sponsors" class="sidebar">
				<h2 id="golden-title">Patrocinador Ouro</h2>
				<p class="sponsor"><a href="http://globo.com"><img src="images/logo-globo-ponto-com.png" alt="Logo globo.com" /></a></p>
				<p class="sponsor"><a href="http://seprorj.org.br"><img src="images/logo-seprorj.png" alt="Logo SeproRJ" /></a></p>
				<p class="sponsor"><a href="http://gonow.com.br/gonow"><img src="images/logo-gonow.png" alt="Logo gonow" /></a></p>
				<h2 id="silver-title">Patrocinador Prata</h2>
				<p class="sponsor"><a href="http://www.caelum.com.br/"><img src="images/logo-caelum.png" alt="Logo Caelum" /></a></p>
				<p class="sponsor"><a href="http://www.locaweb.com.br/"><img src="images/logo-locaweb.png" alt="Logo Locaweb" /></a></p>
				<h2 id="bronze-title">Patrocinador Bronze</h2>
				<p class="sponsor"><a href="http://www.github.com/"><img src="images/logo-github.png" alt="Logo Github" /></a></p>
				<p id="gift"><a href="https://spreadsheets.google.com/viewform?hl=pt_BR&formkey=dGJXYmJnazhacWdrTWF5Z244d2hDdFE6MQ#gid=0">Seus brindes no evento</a></p>
			</div>
			<div id="achievement" class="sidebar">
				<h2>Realização</h2>
				<ul>
				  <li><a href="http://www.contactuseventos.com.br/"><img src="images/logo-contactus-eventos.png" alt="Contactus Eventos" /></a></li>
				  <li><a href="http://www.helabs.com.br/"><img src="images/logo-helabs.png" alt="Helabs" /></a></li>
				</ul>
			</div>
			<div id="support" class="sidebar">
				<h2>Apoio</h2>
				<ul>
				  <li><a href="http://www.empreendaweb.com.br/"><img src="images/logo-empreenda-web.png" alt="EmpreendaWeb" /></a></li>
				  <li><a href="http://www.cobregratis.com.br/"><img src="images/logo-cobre-gratis.png" alt="Cobre Grátis" /></a></li>
				  <li><a href="http://www.infnet.edu.br/"><img src="images/logo-infnet.png" alt="Infnet" /></a></li>
				  <li><a href="http://www.arteccom.com.br/"><img src="images/logo-arteccom.png" alt="Arteccom" /></a></li>
				  <li><a href="http://www.hostnet.com.br/"><img src="images/logo-hostnet.png" alt="Hostnet" /></a></li>
				</ul>
				<p><a href="/sorteios">E mais!</a></p>
			</div>
			<div id="disclosure" class="sidebar">
				<h2>Divulgação</h2>
				<ul>
				  <li><a href="http://www.tuiuiu.com/"><img src="images/logo-tuiuiu.png" alt="Tuiuiú" /></a></li>
				</ul>
			</div>
		  <div id="communities" class="sidebar">
				<h2>Comunidades</h2>
				<ul>
				  <li><a href="http://horaextra.org"><img src="images/comunidades/logo_horaextra_off.png" alt="#horaextra" /></a></li>
				  <li><a href="http://dojorio.wordpress.com/"><img src="images/comunidades/logo_dojorio_off.png" alt="DojoRio" /></a></li>
				  <li><a href="http://www.riojug.org/blog/"><img src="images/comunidades/logo_riojug_off.png" alt="Rio Java Users Group" /></a></li>
				  <li><a href="http://www.rubyinside.com.br/"><img src="images/comunidades/logo_rubyinside_off.png" alt="Ruby Inside" /></a></li>
				  <li><a href="http://rubyonrio.org/"><img src="images/comunidades/logo-ruby-on-rio.png" alt="RubyOnRio" /></a></li>
				  <li><a href="http://pythonrio.org/"><img src="images/comunidades/logo_pythonrio_off.png" alt="PythonRio" /></a></li>
				  <li><a href="http://forkinrio.appspot.com/"><img src="images/comunidades/logo-forkinrio.png" alt="ForkinRio" /></a></li>
				  <li><a href="http://pythoncampus.org"><img src="images/comunidades/logo-pythoncampus.png" alt="PythonCampus" /></a></li>
				  <li><a href="http://www.arduinrio.cc/"><img src="images/comunidades/logo-arduinoinrio.png" alt="Arduino in Rio" /></a></li>
				</ul>
			</div>
			<div id="badges" class="sidebar">
			  <h2>Divulgue o evento!</h2>
				<ul>
					<li>
						<img src="images/devinrio2010_euvou_120x240.gif" height="240" width="120"/>
						<textarea rows="5" style="width: 150px;" name="Dev in Rio - Banner 120 x 240" readonly="readonly">&lt;a href="http://www.devinrio.com.br"&gt;&lt;img src="http://www.devinrio.com.br/images/devinrio2010_euvou_120x240.gif" alt="Dev in Rio 2010"/&gt;&lt;/a&gt;</textarea>
					</li>
					<li>
						<img src="images/devinrio2010_euvou_125x125.gif" height="125" width="125"/>
						<textarea rows="5" style="width: 150px;" name="Dev in Rio - Banner 125 x 125" readonly="readonly">&lt;a href="http://www.devinrio.com.br"&gt;&lt;img src="http://www.devinrio.com.br/images/devinrio2010_euvou_125x125.gif" alt="Dev in Rio 2010"/&gt;&lt;/a&gt;</textarea>
					</li>
					<li>
						<img src="images/devinrio2010_euvou_210x60.gif" height="60" width="210"/>
						<textarea rows="5" style="width: 150px;" name="Dev in Rio - Banner 210 x 60" readonly="readonly">&lt;a href="http://www.devinrio.com.br"&gt;&lt;img src="http://www.devinrio.com.br/images/devinrio2010_euvou_210x60.gif" alt="Dev in Rio 2010"/&gt;&lt;/a&gt;</textarea>
					</li>
				</ul>
			</div>
			<div class="sidebar">
			  <h2>Auditoria</h2>
			  <p id="auditoria"><a target="_blank" href="http://siteforte.com.br/certificado/www.devinrio.com.br?utm_source=www.devinrio.com.br&utm_medium=selo_premium&utm_term=siteforte&utm_campaign=permanente"><img style="border:none;" title="Auditoria de segurança para serviços online com transações financeiras e informações confidenciais :: SITEFORTE - Segurança Digital" src="http://siteforte.com.br/selos/13_wwwdevinriocombr.png"></a></p>  
			</div>

