      <div id="sponsors" class="sidebar">
				<h2 id="golden-title">Patrocinador Ouro</h2>
				<p class="sponsor"><a href="http://globo.com"><img src="images/logo-globo-ponto-com.png" alt="Logo globo.com" /></a></p>
				<h2 id="silver-title">Patrocinador Prata</h2>
				<p class="sponsor"><a href="http://www.caelum.com.br/"><img src="images/logo-caelum.png" alt="Logo Caelum" /></a></p>
				<h2 id="bronze-title">Patrocinador Bronze</h2>
				<p class="sponsor"><a href="http://www.github.com/"><img src="images/logo-github.png" alt="Logo Github" /></a></p>
				<p><strong>Coloque sua marca aqui!</strong><br/><a href="mailto:contato@devinrio.com.br">Entre em contato e seja nosso patrocinador.</a></p>
				<p><a href="files/PlanodeCaptacao-DevinRio.pdf" id="sponsorship-plan">Plano de Captação</a></p>
			</div>	
			<div id="support" class="sidebar">
				<h2>Apoio</h2>
				<ul>
				  <li><a href="http://www.empreendaweb.com.br/"><img src="images/logo-empreenda-web.png" alt="EmpreendaWeb" /></a></li>
				  <li><a href="http://www.cobregratis.com.br/"><img src="images/logo-cobre-gratis.png" alt="Cobre Grátis" /></a></li>
				  <li><a href="http://bielsystems.com.br/"><img src="images/logo-bielsystems.png" alt="BielSystems" /></a></li>
				  <li><a href="http://www.infnet.edu.br/"><img src="images/logo-infnet.png" alt="Infnet" /></a></li>
				</ul>
			</div>
		  <div id="communities" class="sidebar">
				<h2>Comunidades</h2>
				<ul>
				  <li><a href="http://horaextra.org"><img src="images/comunidades/logo_horaextra_off.png" alt="#horaextra" /></a></li>
				  <li><a href="http://dojorio.wordpress.com/"><img src="images/comunidades/logo_dojorio_off.png" alt="DojoRio" /></a></li>
				  <li><a href="http://www.riojug.org/blog/"><img src="images/comunidades/logo_riojug_off.png" alt="Rio Java Users Group" /></a></li>
				  <li><a href="http://www.rubyinside.com.br/"><img src="images/comunidades/logo_rubyinside_off.png" alt="Ruby Inside" /></a></li>
				  <li><a href="http://rubyonrio.heroku.com/"><img src="images/comunidades/logo-ruby-on-rio.png" alt="RubyOnRio" /></a></li>
				  <li><a href="http://pythonrio.org/"><img src="images/comunidades/logo_pythonrio_off.png" alt="PythonRio" /></a></li>
				  <li><a href="http://forkinrio.appspot.com/"><img src="images/comunidades/logo-forkinrio.png" alt="ForkinRio" /></a></li>
				  <li><a href="http://pythoncampus.org"><img src="images/comunidades/logo-pythoncampus.png" alt="PythonCampus" /></a></li>
				  <li><a href="http://arduinrio.yolasite.com/"><img src="images/comunidades/logo-arduinoinrio.png" alt="Arduino in Rio" /></a></li>
				</ul>
			</div>
			<div id="badges" class="sidebar">
			  <h2>Divulgue o evento!</h2>
				<ul>
					<li>
						<img src="images/devinrio2010_euvou_120x240.gif" height="240" width="120"/>
						<textarea rows="5" style="width: 150px;" name="Dev in Rio - Banner 120 x 240" readonly="readonly">&lt;a href="http://www.devinrio.com.br"&gt;&lt;img src="http://www.devinrio.com.br/images/devinrio2010_euvou_120x240.gif" alt="Dev in Rio 2010"/&gt;&lt;/a&gt;</textarea>
					</li>
					<li>
						<img src="images/devinrio2010_euvou_125x125.gif" height="125" width="125"/>
						<textarea rows="5" style="width: 150px;" name="Dev in Rio - Banner 125 x 125" readonly="readonly">&lt;a href="http://www.devinrio.com.br"&gt;&lt;img src="http://www.devinrio.com.br/images/devinrio2010_euvou_125x125.gif" alt="Dev in Rio 2010"/&gt;&lt;/a&gt;</textarea>
					</li>
					<li>
						<img src="images/devinrio2010_euvou_210x60.gif" height="60" width="210"/>
						<textarea rows="5" style="width: 150px;" name="Dev in Rio - Banner 210 x 60" readonly="readonly">&lt;a href="http://www.devinrio.com.br"&gt;&lt;img src="http://www.devinrio.com.br/images/devinrio2010_euvou_210x60.gif" alt="Dev in Rio 2010"/&gt;&lt;/a&gt;</textarea>
					</li>
				</ul>
			</div>
