<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head profile="http://gmpg.org/xfn/11">


<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Dev in Rio 2009</title>
<link rel="stylesheet" href="files_2009/style.css" type="text/css" media="screen">
<script src="files_2009/javascript.js" type="text/javascript"></script>
<script src="files_2009/swfobject_modified.html" type="text/javascript"></script>
<style media="screen" type="text/css">    #uservoice-dialog {      z-index: 100003;      display: block;      text-align: left;      margin: -2em auto 0 auto;      position: fixed;     }        #uservoice-overlay {      position: fixed;      z-index:100002;      width: 100%;      height: 100%;      left: 0;      top: 0;      background-color: #000;      opacity: 0.7;    }        #uservoice-overlay p {      padding: 5px;      color: #ddd;      font: bold 14px arial, sans-serif;      margin: 0;      letter-spacing: -1px;    }        #uservoice-dialog #uservoice-dialog-close {      position: absolute;      height: 48px;      width: 48px;      top: -11px;      right: -12px;      color: #06c;      cursor: pointer;      background-position: 0 0;      background-repeat: no-repeat;      background-color: transparent;    }        html.dialog-open object,    html.dialog-open embed {      visibility: hidden;    }    a#uservoice-dialog-close { background-image: url(http://cdn.uservoice.com/images/icons/close.png); }</style><style media="screen" type="text/css">    body a#uservoice-feedback-tab,    body a#uservoice-feedback-tab:link {      background-position: 2px 50% !important;      position: fixed !important;      top: 45% !important;      display: block !important;      width: 25px !important;      height: 98px !important;      margin: -45px 0 0 0 !important;      padding: 0 !important;      z-index: 100001 !important;      background-position: 2px 50% !important;      background-repeat: no-repeat !important;      text-indent: -9000px;    }        body a#uservoice-feedback-tab:hover {      cursor: pointer;    }        a#uservoice-feedback-tab {       left: 0;       background-repeat: no-repeat;       background-color: #f60;       background-image: url(http://cdn.uservoice.com/images/widgets/pt_BR/feedback_tab_white.png);       border: outset 1px #f60;       border-left: none;     }        a#uservoice-feedback-tab:hover {       background-color: #f60;       border: outset 1px #f60;       border-left: none;     }</style><style media="screen" type="text/css">#FlashID {visibility:hidden}</style></head><body onload="MM_preloadImages('files_2009/logo_globo_over.png','files_2009/logo_locaweb_over.png','files_2009/logo_caelum_over.png','files_2009/logo_d-click_over.png','files_2009/logo_arteccom_over.png','files_2009/logo_pythonbrasil_over.png','files_2009/logo_fabricalivre_over.png','files_2009/logo_myfreecomm_over.png','files_2009/logo_opensourcematters_over.png','files_2009/logo_dojorio_over.png','files_2009/logo_horaextra_over.png','files_2009/logo_pythonrio_over.png','files_2009/logo_riojug_over.png','files_2009/logo_rubyinside_over.png','files_2009/central_conteudo_topo_tela_menu_item_programacao_over.png','files_2009/central_conteudo_topo_tela_menu_item_inscricoes_over.png','files_2009/central_conteudo_topo_tela_menu_item_contatos_over.png')"><div id="uservoice-feedback"><a id="uservoice-feedback-tab" onclick="UserVoice.Popin.show(); return false;" onmouseover="UserVoice.Popin.preload();" href="http://devinrio.uservoice.com/forums/28183">Comentário</a></div>
<div id="geral">
	<div id="central">
		<div id="central_acabamento_01"></div>
		<div id="central_conteudo">
			<div id="central_conteudo_topo">
				<div id="central_conteudo_topo_devinrio"><a href="http://www.devinrio.com.br/"><img src="files_2009/central_conteudo_topo_devinrio.png" alt="Dev in Rio 2009" title="Dev in Rio 2009" height="200" width="200" border="0"></a></div>
				<div id="central_conteudo_topo_tela">
					<div id="central_conteudo_topo_tela_animacao">
						<object style="visibility: visible;" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" id="FlashID" title="Av. Paulo de Frontin n. 1" height="165" width="740">
							<param name="movie" value="animacao.swf">
							<param name="quality" value="high">
							<param name="wmode" value="transparent">
							<param name="menu" value="false">
							<param name="swfversion" value="8.0.35.0">
							<!-- This param tag prompts users with Flash Player 6.0 r65 and higher to download the latest version of Flash Player. Delete it if you don’t want users to see the prompt. -->
							<param name="expressinstall" value="expressInstall.swf">
							<!-- Next object tag is for non-IE browsers. So hide it from IE using IECC. -->
							<!--[if !IE]>-->
							<object type="application/x-shockwave-flash" data="files_2009/animacao.swf" height="165" width="740">
								<!--<![endif]-->
								<param name="quality" value="high">
								<param name="wmode" value="transparent">
								<param name="menu" value="false">
								<param name="swfversion" value="8.0.35.0">
								<param name="expressinstall" value="expressInstall.swf">
								<!-- The browser displays the following alternative content for users with Flash Player 6.0 and older. -->
								<div>
									<h4>Content on this page requires a newer version of Adobe Flash Player.</h4>
									<p><a href="http://www.adobe.com/go/getflashplayer"><img src="files_2009/get_flash_player.gif" alt="Get Adobe Flash player"></a></p>
								</div>
								<!--[if !IE]>-->
							</object>
							<!--<![endif]-->
						</object>
					</div>
					<div id="central_conteudo_topo_tela_menu">
						<div id="central_conteudo_topo_tela_menu_item"><img src="files_2009/central_conteudo_topo_tela_menu_item_programacao_on.png" alt="Programação" name="menu_01" id="menu_01" title="Programação" height="40" width="125" border="0"></div>
						<div id="central_conteudo_topo_tela_menu_item"><a href="http://www.devinrio.com.br/inscricoes_bra.php"><img src="files_2009/central_conteudo_topo_tela_menu_item_inscricoes_off.png" alt="Inscrições" name="menu_02" id="menu_02" title="Inscrições" onmouseover="MM_swapImage('menu_02','','files_2009/central_conteudo_topo_tela_menu_item_inscricoes_over.png',1)" onmouseout="MM_swapImgRestore()" height="40" width="98" border="0"></a></div>
						<div id="central_conteudo_topo_tela_menu_item"><a href="http://www.devinrio.com.br/contato.php"><img src="files_2009/central_conteudo_topo_tela_menu_item_contatos_off.png" alt="Contatos" name="menu_03" id="menu_03" title="Contatos" onmouseover="MM_swapImage('menu_03','','files_2009/central_conteudo_topo_tela_menu_item_contatos_over.png',1)" onmouseout="MM_swapImgRestore()" height="40" width="96" border="0"></a></div>
						<div id="central_conteudo_topo_tela_menu_item"><a href="http://twitter.com/devinrio" target="_blank"><img src="files_2009/central_conteudo_topo_tela_menu_item_twitter_off.png" alt="Siga o Dev in Rio no Twitter" title="Siga o Dev in Rio no Twitter" height="40" width="23" border="0"></a></div>
						<div id="central_conteudo_topo_tela_menu_data"><img src="files_2009/data.png" height="16" width="143" border="0"></div>
					</div>
				</div>
			</div>
			<div id="central_conteudo_display">
				<div id="central_conteudo_display_coluna_01">
					<div class="programacao_box">
						<div class="programacao_box_linha_01">
							<div class="programacao_box_linha_01_titulo_certificado">
								<div class="programacao_box_linha_01_titulo_texto_certificado">&nbsp;&nbsp;<a onclick="window.open('http://www.devinrio.com.br/certificado','certificado','width=490,height=380,scrollbars=yes,resizable=no,location=no,directories=no,status=no,menubar=yes,copyhistory=no');" href="javascript:%20void(0);">Imprima aqui o seu certificado</a>&nbsp;&nbsp;</div>
							</div>
							<div class="programacao_box_linha_01_hora_certificado">
								<div class="programacao_box_linha_01_hora_texto"></div>
							</div>

							<div class="programacao_box_linha_01_titulo">
								<div class="programacao_box_linha_01_titulo_texto">Credenciamento e visita aos estandes</div>
							</div>
							<div class="programacao_box_linha_01_hora">
								<div class="programacao_box_linha_01_hora_texto">08:30</div>
							</div>
						</div>
                            <div style="height: 15px;"></div>
					</div>
					<div class="programacao_box">
						<div class="programacao_box_linha_01">
							<div class="programacao_box_linha_01_titulo">
								<div class="programacao_box_linha_01_titulo_texto">Abertura Oficial</div>
							</div>
							<div class="programacao_box_linha_01_hora">
								<div class="programacao_box_linha_01_hora_texto">09:30</div>
							</div>
						</div>
						<div class="programacao_box_linha_02">
							<div class="programacao_box_linha_02_palestrante">
								<div class="programacao_box_linha_02_palestrante_foto"><a href="http://gc.blog.br/" target="_blank"><img src="files_2009/palestrante_guilherme_chapiewski.jpg" height="120" width="100" border="0"></a></div>
								<div class="programacao_box_linha_02_palestrante_ficha">
									<div class="programacao_box_linha_02_palestrante_ficha_nome"><a href="http://gc.blog.br/" target="_blank">Guilherme Chapiewski</a></div>
									<div class="programacao_box_linha_02_palestrante_ficha_curriculo">É
coordenador especialista em desenvolvimento de software na Globo.com,
onde aplica e evangeliza tecnologias, metodologias e práticas de
desenvolvimento de software. Entusiasta de práticas de desenvolvimento
ágil e qualidade de software, Guilherme possui aproximadamente dez anos
de experiência em arquitetura e desenvolvimento de sistemas em variados
segmentos e é também participante ativo em diversas comunidades de
desenvolvimento no Rio de Janeiro.</div>
									<div class="programacao_box_linha_02_palestrante_ficha_url"><a href="http://gc.blog.br/" target="_blank">gc.blog.br</a></div>
								</div>
							</div>
							<div class="programacao_box_linha_02_palestrante">
								<div class="programacao_box_linha_02_palestrante_foto"><a href="http://henriquebastos.net/" target="_blank"><img src="files_2009/palestrante_henrique_bastos.jpg" height="120" width="100" border="0"></a></div>
								<div class="programacao_box_linha_02_palestrante_ficha">
									<div class="programacao_box_linha_02_palestrante_ficha_nome"><a href="http://henriquebastos.net/" target="_blank">Henrique Bastos</a></div>
									<div class="programacao_box_linha_02_palestrante_ficha_curriculo">É
diretor de tecnologia da Myfreecomm onde trabalha desenvolvendo
softwares com métodos ágeis, Python e softwares livres. Está
constantemente presente nas comunidades de software cariocas,
organizando eventos, ministrando cursos, palestras e evangelizando
Python. Dentre outras iniciativas, participou da idealização e
organização da caravana PythonCampus que visita universidades
promovendo a integração entre alunos e o mercado de tecnologia através
de software livre.</div>
									<div class="programacao_box_linha_02_palestrante_ficha_url"><a href="http://henriquebastos.net/" target="_blank">henriquebastos.net</a></div>
								</div>
							</div>
						</div>
					</div>
					<div class="programacao_box">
						<div class="programacao_box_linha_01_dupla">
							<div class="programacao_box_linha_01_dupla_titulo">
								<div class="programacao_box_linha_01_dupla_titulo_texto">"O molho secreto": como as comunidades do Joomla! e Open Source<br>
								estão melhorando o cenário de tecnologia... e mudando o mundo!</div>
							</div>
							<div class="programacao_box_linha_01_dupla_hora">
								<div class="programacao_box_linha_01_dupla_hora_texto">10:00</div>
							</div>
						</div>
						<div class="programacao_box_linha_02">
							<div class="programacao_box_linha_02_resumo_01">Numa
era com possibilidades quase infinitas de comunicação, algumas das
ferramentas de comunicação mais bem sucedidas estão sendo criadas e
melhoradas usando software livre. Organizações, indivíduos, e empresas
estão construindo software livre juntos, alguns deles muito bem
sucedidos como Joomla!, um poderoso framework e sistema de
gerenciamento de conteúdo.<br>
								<br>
Ryan falará sobre como estas ferramentas estão mudando a maneira que as
organizações comunicam sua mensagem, constroem pontes entre as
comunidades e as permitem serem mais eficazes.<br>
<br>
Ele compartilhará parte da história de sucesso do projeto Joomla!, que
tem mais de 12 milhões de downloads nos últimos dois anos e lições
aprendidas gerenciando uma larga comunidade sem uma estrutura
corporativa por trás.</div>
							<div class="programacao_box_linha_02_palestrante">
								<div class="programacao_box_linha_02_palestrante_foto"><a href="http://www.picnet.net/blog/author/cozimek" target="_blank"><img src="files_2009/palestrante_ryan_ozimek.jpg" height="120" width="100" border="0"></a></div>
								<div class="programacao_box_linha_02_palestrante_ficha">
									<div class="programacao_box_linha_02_palestrante_ficha_nome"><a href="http://www.picnet.net/blog/author/cozimek" target="_blank">Ryan Ozimek</a></div>
									<div class="programacao_box_linha_02_palestrante_ficha_curriculo">É
atual membro do Steering Committee da Open Source Initiative, membro da
diretoria da Open Source Matters e co-fundador e CEO da PICnet Inc. Com
enfoque em tecnologias open source, Ozimek está constantemente a
procura de formas em que a Internet possa servir melhor o “bem maior”
e, mais especificamente, as entidades sem fins lucrativos.</div>
									<div class="programacao_box_linha_02_palestrante_ficha_url"><a href="http://www.picnet.net/blog/author/cozimek" target="_blank">www.picnet.net/blog/author/cozimek</a></div>
								</div>
							</div>
						</div>
					</div>
					<div class="programacao_box">
						<div class="programacao_box_linha_01">
							<div class="programacao_box_linha_01_titulo">
								<div class="programacao_box_linha_01_titulo_texto">O Java está morto?</div>
							</div>
							<div class="programacao_box_linha_01_hora">
								<div class="programacao_box_linha_01_hora_texto">11:00</div>
							</div>
						</div>
						<div class="programacao_box_linha_02">
							<div class="programacao_box_linha_02_resumo_01">As
linguagens modernas, sejam elas dinâmicas, funcionais e até mesmo
algumas estáticas, têm ganho cada vez mais atenção como uma alternativa
viável para projetos de diversos tamanhos e escopos. Já a linguagem
Java continua verborrágica e dá sinais de idade. <br>
								<br>
Como ela fica nesse quadro? Veremos como anda o panorama dos frameworks
e da linguagem em si, até focar na integração do Java com essas outras
linguagens, e como tirar proveito dessa união, aproveitando o ponto
forte de cada uma. Destacaremos então o real poder do Java: não a
linguagem, e sim a Virtual Machine. </div>
							<div class="programacao_box_linha_02_palestrante">
								<div class="programacao_box_linha_02_palestrante_foto"><a href="http://blog.caelum.com.br/" target="_blank"><img src="files_2009/palestrante_guilherme_silveira.jpg" height="120" width="100" border="0"></a></div>
								<div class="programacao_box_linha_02_palestrante_ficha">
									<div class="programacao_box_linha_02_palestrante_ficha_nome"><a href="http://blog.caelum.com.br/" target="_blank">Guilherme Silveira</a></div>
									<div class="programacao_box_linha_02_palestrante_ficha_curriculo">Especialista
em Java para a web e graduando em matemática computacional na USP,
ministrou diversas palestras relacionadas ao tema em eventos e empresas
pelo Brasil. Atualmente é commiter do CodeHaus pelos projetos XStream e
Waffle, além de um dos responsáveis pelo desenvolvimento do VRaptor.</div>
									<div class="programacao_box_linha_02_palestrante_ficha_url"><a href="http://blog.caelum.com.br/" target="_blank">blog.caelum.com.br</a></div>
								</div>
							</div>
							<div class="programacao_box_linha_02_palestrante">
								<div class="programacao_box_linha_02_palestrante_foto"><a href="http://blog.caelum.com.br/" target="_blank"><img src="files_2009/palestrante_nico_steppat.jpg" height="120" width="100" border="0"></a></div>
								<div class="programacao_box_linha_02_palestrante_ficha">
									<div class="programacao_box_linha_02_palestrante_ficha_nome"><a href="http://blog.caelum.com.br/" target="_blank">Nico Steppat</a></div>
									<div class="programacao_box_linha_02_palestrante_ficha_curriculo">Engenheiro
da Computação Aplicada na Fachhochschule Brandenburg na Alemanha, é
instrutor, consultor e desenvolve há cinco anos com Java no Brasil e
Alemanha, atuando agora na Caelum com enfoque especial em EJB. É o
responsável técnico no Rio de janeiro. Escreve para a revista MundoJava
e possui as certificações SCJP, SCWCD, SCBCD e SCEA.</div>
									<div class="programacao_box_linha_02_palestrante_ficha_url"><a href="http://blog.caelum.com.br/" target="_blank">blog.caelum.com.br</a></div>
								</div>
							</div>
						</div>
					</div>
					<div class="programacao_box">
						<div class="programacao_box_linha_01">
							<div class="programacao_box_linha_01_titulo">
								<div class="programacao_box_linha_01_titulo_texto">Intervalo para almoço</div>
							</div>
							<div class="programacao_box_linha_01_hora">
								<div class="programacao_box_linha_01_hora_texto">12:00</div>
							</div>
						</div>
					</div>
					<div class="programacao_box">
						<div class="programacao_box_linha_01">
							<div class="programacao_box_linha_01_titulo">
								<div class="programacao_box_linha_01_titulo_texto">Ecossistema Ruby on Rails</div>
							</div>
							<div class="programacao_box_linha_01_hora">
								<div class="programacao_box_linha_01_hora_texto">13:30</div>
							</div>
						</div>
						<div class="programacao_box_linha_02">
							<div class="programacao_box_linha_02_resumo_01">Nesta
palestra será feita uma introdução à plataforma Ruby on Rails e o que a
comunidade produziu para tornar o desenvolvimento de software ainda
mais interessante e ágil.</div>
							<div class="programacao_box_linha_02_palestrante">
								<div class="programacao_box_linha_02_palestrante_foto"><a href="http://www.akitaonrails.com/" target="_blank"><img src="files_2009/palestrante_fabio_akita.jpg" height="120" width="100" border="0"></a></div>
								<div class="programacao_box_linha_02_palestrante_ficha">
									<div class="programacao_box_linha_02_palestrante_ficha_nome"><a href="http://www.akitaonrails.com/" target="_blank">Fabio Akita</a></div>
									<div class="programacao_box_linha_02_palestrante_ficha_curriculo">Gerente
de Produtos de Hospedagem na Locaweb e ajudou a implantar Ruby on Rails
pela primeira vez num grande hosting no Brazil. Ano passado também
organizou o Rails Summit Latin America, o primeiro grande evento de
Rails na América do Sul. Trabalhou na consultoria americana Surgeworks
LLC, prestando serviços relacionados a projetos Ruby on Rails, com o
cargo de Brazil Rails Practice Manager. </div>
									<div class="programacao_box_linha_02_palestrante_ficha_url"><a href="http://www.akitaonrails.com/" target="_blank">www.akitaonrails.com</a></div>
								</div>
							</div>
						</div>
					</div>
					<div class="programacao_box">
						<div class="programacao_box_linha_01">
							<div class="programacao_box_linha_01_titulo">
								<div class="programacao_box_linha_01_titulo_texto">Django: o framework web para perfeccionistas com prazos</div>
							</div>
							<div class="programacao_box_linha_01_hora">
								<div class="programacao_box_linha_01_hora_texto">14:30</div>
							</div>
						</div>
						<div class="programacao_box_linha_02">
							<div class="programacao_box_linha_02_resumo_01">Django
é um framework de desenvolvimento web escrito em Python de alto nível
criado para desenvolvimento rápido de websites com banco de dados. Como
o Django foi desenvolvido em um agitado ambiente de uma agência de
notícias, ele foi desenhado para fazer com que as tarefas comuns de
desenvolvimento web sejam rápidas e fáceis de serem feitas. O objetivo
desta apresentação é introduzir o Django aos desenvolvedores. Veremos
um pouco da história do Django, o fluxo básico de desenvolvimento e
também alguns truques e funcionalidades do framework.</div>
							<div class="programacao_box_linha_02_palestrante">
								<div class="programacao_box_linha_02_palestrante_foto"><a href="http://www.jacobian.org/" target="_blank"><img src="files_2009/palestrante_jacob_kaplan_moss.jpg" height="120" width="100" border="0"></a></div>
								<div class="programacao_box_linha_02_palestrante_ficha">
									<div class="programacao_box_linha_02_palestrante_ficha_nome"><a href="http://www.jacobian.org/" target="_blank">Jacob Kaplan-Moss</a></div>
									<div class="programacao_box_linha_02_palestrante_ficha_curriculo">É
um dos líderes de desenvolvimento e co-criador do Django. Jacob é um
desenvolvedor de software experiente com foco em desenvolvimento de
aplicações web e arquitetura de gerenciadores de conteúdo. Em 2005,
Jacob ingressou no Lawrence Journal-World, um jornal local em Lawrence,
Kansas, e ajudou a desenvolver e tornar open source o projeto Django. É
também co-autor do livro "The Definitive Guide to Django" (Apress,
2007).</div>
									<div class="programacao_box_linha_02_palestrante_ficha_url"><a href="http://www.jacobian.org/" target="_blank">www.jacobian.org</a></div>
								</div>
							</div>
						</div>
					</div>
					<div class="programacao_box">
						<div class="programacao_box_linha_01">
							<div class="programacao_box_linha_01_titulo">
								<div class="programacao_box_linha_01_titulo_texto">Intervalo</div>
							</div>
							<div class="programacao_box_linha_01_hora">
								<div class="programacao_box_linha_01_hora_texto">15:30</div>
							</div>
						</div>
					</div>
					<div class="programacao_box">
						<div class="programacao_box_linha_01_dupla">
							<div class="programacao_box_linha_01_dupla_titulo">
								<div class="programacao_box_linha_01_dupla_titulo_texto">Software bem sucedido começa fora do código: usando técnicas ágeis para criar produtos de sucesso</div>
							</div>
							<div class="programacao_box_linha_01_dupla_hora">
								<div class="programacao_box_linha_01_dupla_hora_texto">16:00</div>
							</div>
						</div>
						<div class="programacao_box_linha_02">
							<div class="programacao_box_linha_02_resumo_01">Linguagens
e frameworks de desenvolvimento se tornam cada vez mais avançados,
confiáveis e nos ajudam a construir aplicações mais rápido do que
nunca. Mas contruir boas aplicações rápido geralmente nos leva à
principal dificuldade em um projeto de desenvolvimento de software:
descobrir o que contruir.<br>
<br>
A boa notícia é que enquanto as ferramentas que nós usamos continuam
evoluindo, as ferramentas que usamos para descobrir o que construir
também evoluiram. Esta curta apresentação foca nas técnicas usadas fora
do desenvolvimento de software para colaborar e planejar com nossos
clientes e usuários. Você vai aprender sobre conceitos e técnicas para
falar de forma efetiva sobre e representar as idéias do produto, para
entender as pessoas que usam o seu software e como tirar vantagem do
desenvolvimento iterativo e incremental para aprender mais rápido e
reduzir os riscos.<br>
<br>
Como um desenvolvedor responsável, você irá encontrar uma maneira de
associar suas habilidades fora do código com suas habilidades dentro do
código.</div>
							<div class="programacao_box_linha_02_palestrante">
								<div class="programacao_box_linha_02_palestrante_foto"><a href="http://www.agileproductdesign.com/" target="_blank"><img src="files_2009/palestrante_jeff_patton.jpg" height="120" width="100" border="0"></a></div>
								<div class="programacao_box_linha_02_palestrante_ficha">
									<div class="programacao_box_linha_02_palestrante_ficha_nome"><a href="http://www.agileproductdesign.com/" target="_blank">Jeff Patton</a></div>
									<div class="programacao_box_linha_02_palestrante_ficha_curriculo">Cria
e desenvolve software nos últimos 15 anos desde sistemas de pedidos de
peças de aeronaves até fichas médicas eletrônicas. Jeff se focou em
metodologias ágeis desde que trabalhou com um time de Extreme
Programming em 2000. Em particular, Jeff se especializou na aplicação
de práticas de user experience design (UX) para melhorar requisitos
ágeis, planejamentos e produtos. Desde 2007, Jeff tem aplicado Lean
thinking e práticas de desenvolvimento com Kanban e Scrum para ajudar
times a focarem na entrega de valor. </div>
									<div class="programacao_box_linha_02_palestrante_ficha_url"><a href="http://www.agileproductdesign.com/" target="_blank">www.agileproductdesign.com</a></div>
								</div>
							</div>
						</div>
					</div>
					<div class="programacao_box">
						<div class="programacao_box_linha_01">
							<div class="programacao_box_linha_01_titulo">
								<div class="programacao_box_linha_01_titulo_texto">Bate-papo com os participantes!</div>
							</div>
							<div class="programacao_box_linha_01_hora">
								<div class="programacao_box_linha_01_hora_texto">17:00</div>
							</div>
						</div>
						<div class="programacao_box_linha_02">
							<div class="programacao_box_linha_02_resumo_01">Vinicius
vai comandar um bate-papo sobre desenvolvimento de software com os
palestrantes, as comunidades cariocas e os participantes!</div>
							<div class="programacao_box_linha_02_palestrante">
								<div class="programacao_box_linha_02_palestrante_foto"><a href="http://www.improveit.com.br/" target="_blank"><img src="files_2009/palestrante_vinicius_teles.jpg" height="120" width="100" border="0"></a></div>
								<div class="programacao_box_linha_02_palestrante_ficha">
									<div class="programacao_box_linha_02_palestrante_ficha_nome"><a href="http://www.improveit.com.br/" target="_blank">Vinicius Manhães Teles</a></div>
									<div class="programacao_box_linha_02_palestrante_ficha_curriculo">Desenvolvedor
de software e fundador da Improve It, empresa criadora do produto web
Be on the Net. Vinicius foi o pioneiro em metodologias ágeis no Brasil,
realizando diversos treinamentos e palestras sobre Extreme Programming,
e atuando durante muito tempo como coach de equipes XP em diversas
organizações. Além disso, é autor do primeiro livro de XP do Brasil e
mestre em computação pela UFRJ.</div>
									<div class="programacao_box_linha_02_palestrante_ficha_url"><a href="http://www.improveit.com.br/" target="_blank">www.improveit.com.br</a></div>
								</div>
							</div>
						</div>
					</div>
					<div class="programacao_box">
						<div class="programacao_box_linha_01">
							<div class="programacao_box_linha_01_titulo">
								<div class="programacao_box_linha_01_titulo_texto">Encerramento e #Horaextra</div>
							</div>
							<div class="programacao_box_linha_01_hora">
								<div class="programacao_box_linha_01_hora_texto">18:00</div>
							</div>
						</div>
	                    <div class="aviso_previo"><br>OBS: Programação sujeita à alteração sem aviso prévio.</div>
					</div>
				</div>
				<div id="central_conteudo_display_coluna_02">
	<div id="central_conteudo_display_coluna_02_titulo">
		<div id="central_conteudo_display_coluna_02_titulo_texto">PATROCINADOR ESPECIAL</div>
	</div>
	<div id="central_conteudo_display_coluna_02_logo"><a href="http://www.globo.com/" target="_blank"><img src="files_2009/logo_globo_off.png" alt="Globo.com" title="Globo.com" name="Image1" id="Image1" onmouseover="MM_swapImage('Image1','','files_2009/logo_globo_over.png',1)" onmouseout="MM_swapImgRestore()" height="80" width="138" border="0"></a></div>
	<div id="central_conteudo_display_coluna_02_titulo">
		<div id="central_conteudo_display_coluna_02_titulo_texto">PATROCINADORES</div>
	</div>
	<div id="central_conteudo_display_coluna_02_logo"><a href="http://www.locaweb.com.br/" target="_blank"><img src="files_2009/logo_locaweb_off.png" alt="Locaweb" title="Locaweb" name="Image2" id="Image2" onmouseover="MM_swapImage('Image2','','files_2009/logo_locaweb_over.png',1)" onmouseout="MM_swapImgRestore()" height="23" width="101" border="0"></a></div>
	<div id="central_conteudo_display_coluna_02_logo"><a href="http://www.caelum.com.br/" target="_blank"><img src="files_2009/logo_caelum_off.png" alt="Caelum" title="Caelum" name="Image3" id="Image3" onmouseover="MM_swapImage('Image3','','files_2009/logo_caelum_over.png',1)" onmouseout="MM_swapImgRestore()" height="30" width="100" border="0"></a></div>
	<div id="central_conteudo_display_coluna_02_logo"><a href="http://www.dclick.com.br/" target="_blank"><img src="files_2009/logo_d-click_off.png" alt="d-click" title="d-click" name="Image4" id="Image4" onmouseover="MM_swapImage('Image4','','files_2009/logo_d-click_over.png',1)" onmouseout="MM_swapImgRestore()" height="39" width="101" border="0"></a></div>
	<div id="central_conteudo_display_coluna_02_titulo">
		<div id="central_conteudo_display_coluna_02_titulo_texto">ORGANIZAÇÃO</div>
	</div>
	<div id="central_conteudo_display_coluna_02_logo"><a href="http://www.arteccom.com.br/" target="_blank"><img src="files_2009/logo_arteccom_off.png" alt="Arteccom" title="Arteccom" name="Image5" id="Image5" onmouseover="MM_swapImage('Image5','','files_2009/logo_arteccom_over.png',1)" onmouseout="MM_swapImgRestore()" height="19" width="100" border="0"></a></div>
	<div id="central_conteudo_display_coluna_02_titulo">
		<div id="central_conteudo_display_coluna_02_titulo_texto">APOIO</div>
	</div>
	<div id="central_conteudo_display_coluna_02_logo"><a href="http://associacao.python.org.br/" target="_blank"><img src="files_2009/logo_pythonbrasil_off.png" alt="Python Brasil" title="Python Brasil" name="Image6" id="Image6" onmouseover="MM_swapImage('Image6','','files_2009/logo_pythonbrasil_over.png',1)" onmouseout="MM_swapImgRestore()" height="21" width="129" border="0"></a></div>
	<div id="central_conteudo_display_coluna_02_logo"><a href="http://www.fabricalivre.com.br/" target="_blank"><img src="files_2009/logo_fabricalivre_off.png" alt="Fábrica Livre" title="Fábrica Livre" name="Image7" id="Image7" onmouseover="MM_swapImage('Image7','','files_2009/logo_fabricalivre_over.png',1)" onmouseout="MM_swapImgRestore()" height="22" width="120" border="0"></a></div>
	<div id="central_conteudo_display_coluna_02_logo"><a href="http://www.myfreecomm.com.br/" target="_blank"><img src="files_2009/logo_myfreecomm_off.png" alt="Myfreecomm" title="Myfreecomm" name="Image8" id="Image8" onmouseover="MM_swapImage('Image8','','files_2009/logo_myfreecomm_over.png',1)" onmouseout="MM_swapImgRestore()" height="21" width="123" border="0"></a></div>
	<div id="central_conteudo_display_coluna_02_logo"><a href="http://www.opensourcematters.org/" target="_blank"><img src="files_2009/logo_opensourcematters_off.png" alt="Open Source Matters" title="Open Source Matters" name="Image9" id="Image9" onmouseover="MM_swapImage('Image9','','files_2009/logo_opensourcematters_over.png',1)" onmouseout="MM_swapImgRestore()" height="14" width="130" border="0"></a></div>
	<div id="central_conteudo_display_coluna_02_titulo">
		<div id="central_conteudo_display_coluna_02_titulo_texto">COMUNIDADES</div>
	</div>
	<div id="central_conteudo_display_coluna_02_logo"><a href="http://dojorio.org/" target="_blank"><img src="files_2009/logo_dojorio_off.png" alt="Dojorio" title="Dojorio" name="Image10" id="Image10" onmouseover="MM_swapImage('Image10','','files_2009/logo_dojorio_over.png',1)" onmouseout="MM_swapImgRestore()" height="31" width="72" border="0"></a></div>
	<div id="central_conteudo_display_coluna_02_logo"><a href="http://horaextra.org/" target="_blank"><img src="files_2009/logo_horaextra_off.png" alt="Hora Extra" title="Hora Extra" name="Image11" id="Image11" onmouseover="MM_swapImage('Image11','','files_2009/logo_horaextra_over.png',1)" onmouseout="MM_swapImgRestore()" height="16" width="97" border="0"></a></div>
	<div id="central_conteudo_display_coluna_02_logo"><a href="http://pythonrio.org/" target="_blank"><img src="files_2009/logo_pythonrio_off.png" alt="Pythonrio" title="Pythonrio" name="Image12" id="Image12" onmouseover="MM_swapImage('Image12','','files_2009/logo_pythonrio_over.png',1)" onmouseout="MM_swapImgRestore()" height="28" width="104" border="0"></a></div>
	<div id="central_conteudo_display_coluna_02_logo"><a href="http://www.riojug.org/" target="_blank"><img src="files_2009/logo_riojug_off.png" alt="Rio JUG" title="Rio Jug" name="Image13" id="Image13" onmouseover="MM_swapImage('Image13','','files_2009/logo_riojug_over.png',1)" onmouseout="MM_swapImgRestore()" height="32" width="95" border="0"></a></div>
	<div id="central_conteudo_display_coluna_02_logo"><a href="http://www.rubyinside.com.br/" target="_blank"><img src="files_2009/logo_rubyinside_off.png" alt="Ruby Inside" title="Ruby Inside" name="Image14" id="Image14" onmouseover="MM_swapImage('Image14','','files_2009/logo_rubyinside_over.png',1)" onmouseout="MM_swapImgRestore()" height="22" width="100" border="0"></a></div>
	<div id="central_conteudo_display_coluna_02_titulo">
		<div id="central_conteudo_display_coluna_02_titulo_texto">IDEALIZAÇÃO</div>
	</div>
	<div id="central_conteudo_display_coluna_02_texto"><a href="http://gc.blog.br/" target="_blank">Guilherme Chapiewski</a><br>
		<a href="http://henriquebastos.net/" target="_blank">Henrique Bastos</a></div>
	<div id="central_conteudo_display_coluna_02_titulo">
		<div id="central_conteudo_display_coluna_02_titulo_texto">DIVULGUE</div>
	</div>
	<div id="central_conteudo_display_coluna_02_texto"> <a href="http://www.flickr.com/photos/devinrio/3861389925/" target="_blank">Cartaz de Divulgação A4</a><br>
		<a href="http://www.flickr.com/photos/devinrio/3862171728/" target="_blank">Cartaz de Divulgação A3</a><br>
		<a href="http://www.flickr.com/photos/devinrio/sets/72157622034025265/" target="_blank">Outros formatos de cartaz</a><br>
	</div>
	<div id="central_conteudo_display_coluna_02_banner"><img src="files_2009/devinrio_euvou_120x240.gif" height="240" width="120"></div>
	<div id="central_conteudo_display_coluna_02_textarea">
		<textarea rows="5" style="width: 150px;" name="Dev in Rio - Banner 120 x 240" readonly="readonly">&lt;a
href="http://www.devinrio.com.br/index.php"&gt;&lt;img
src="http://www.devinrio.com.br/files_2009/devinrio_euvou_120x240.gif"
alt="Dev in Rio 2009"/&gt;&lt;/a&gt;</textarea>
	</div>
	<br>
	<br>
	<br>
	<div id="central_conteudo_display_coluna_02_banner"><img src="files_2009/devinrio_euvou_125x125.gif" height="125" width="125"></div>
	<div id="central_conteudo_display_coluna_02_textarea">
		<textarea rows="5" style="width: 150px;" name="Dev in Rio - Banner 125 x 125" readonly="readonly">&lt;a
href="http://www.devinrio.com.br/index.php"&gt;&lt;img
src="http://www.devinrio.com.br/files_2009/devinrio_euvou_125x125.gif"
alt="Dev in Rio 2009"/&gt;&lt;/a&gt;</textarea>
	</div>
	<br>
	<br>
	<br>
	<div id="central_conteudo_display_coluna_02_banner"><img src="files_2009/devinrio_euvou_210x60.gif" height="48" width="170"></div>
	<div id="central_conteudo_display_coluna_02_textarea">
		<textarea rows="5" style="width: 150px;" name="Dev in Rio - Banner 210 x 60" readonly="readonly">&lt;a
href="http://www.devinrio.com.br/index.php"&gt;&lt;img
src="http://www.devinrio.com.br/files_2009/devinrio_euvou_210x60.gif" alt="Dev
in Rio 2009"/&gt;&lt;/a&gt;</textarea>
	</div>
</div>
			</div>
		</div>
		<div id="central_acabamento_02"></div>
	</div>
</div>
<script type="text/javascript">
  var uservoiceJsHost = ("https:" == document.location.protocol) ? "https://uservoice.com" : "http://cdn.uservoice.com";
  document.write(unescape("%3Cscript src='" + uservoiceJsHost + "/javascripts/widgets/tab.js' type='text/javascript'%3E%3C/script%3E"))
</script><script src="files_2009/tab.js" type="text/javascript"></script>
<script type="text/javascript">
UserVoice.Tab.show({ 
  /* required */
  key: 'devinrio',
  host: 'devinrio.uservoice.com', 
  forum: '28183', 
  /* optional */
  alignment: 'left',
  background_color:'#f60', 
  text_color: 'white',
  hover_color: '#f60',
  lang: 'pt_BR'
})
</script>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script><script src="files_2009/ga.js" type="text/javascript"></script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-10307500-1");
pageTracker._trackPageview();
} catch(err) {}
swfobject.registerObject("FlashID");
</script>
</body></html>
