<!DOCTYPE html>

<html>
  <head>
    <meta charset="UTF-8">
    <title>Dev In Rio 2010 - Hotel Guanabara - 9 de outubro</title>
    
    <meta name="description" content="DevInRio 2010 - Um evento para reunir todas classes de aventureiros em uma só questão"  />
    
    <!--[if lte IE 8]>
    <script src="javascripts/html5.js" type="text/javascript"></script>
    <![endif]-->
    
    <link href="stylesheets/devinrio.css" media="screen" rel="stylesheet" type="text/css" />
  </head>
  
  <body>
	<div id="wrap">
		<div id="crumb">
			<%= erb(:header, :layout => false) %>
			<div id="content">
        <h2>Sorteios no Dev in Rio</h2>

        <div id="text">
	        <p>As empresas abaixo prometem sortear coisas legais durante o evento. Quais serão os brindes é segredo, é claro. :)</p>

	        <ul>
	          <li><a href="http://redeparede.com"><img src="images/sorteio/logo-redeparede.png" alt="RedeParede" /></a></li>
		  <li><a href="http://www.bigbangcafe.com.br"><img src="images/sorteio/logo-bigbangcafe.png" alt="BigBangCafé" /></a></li>
		  <li><a href="http://www.netrevenda.com.br"><img src="images/sorteio/logo-netrevenda.png" alt="NetRevenda" /></a></li>
		  <li><a href="http://www.linuxsolutions.com.br"><img src="images/sorteio/logo-linux-solutions.png" alt="Linux Solutions" /></a></li>
		  <li><a href="http://www.teamware.com.br"><img src="images/sorteio/logo-teamware.png" alt="TeamWare" /></a></li>
		  <li><a href="http://www.egenial.com.br"><img src="images/sorteio/logo-egenial.png" alt="e-Genial" /></a></li>
		  <li><a href="http://www.welcometothedjango.com.br"><img src="images/sorteio/logo-welcome-to-the-django.png" alt="Welcome to the Django" /></a></li>
		  <li><a href="http://www.thoughtworks.com"><img src ="images/sorteio/logo-thoughtworks.png" alt="ThoughtWorks" /></a></li>
	        </ul>
	        
	        <p>Ficou interessado? Então corre e <a href="/inscreva-se">faça a sua inscrição</a>. Para mais informações, siga <a href="http://twitter.com/devinrio">@devinrio</a> no twitter ou entre em contato pelo e-mail <a href="mailto:contato@devinrio.com.br">contato@devinrio.com.br</a></p>
	      </div>
			</div>
			<%= erb(:sidebar, :layout => false) %>
		</div>
	</div>
    
    <%= erb(:scripts, :layout => false) %>
    
  </body>
</html>
