html															{
																height: 100%;
															}
body															{
																margin:0px 0px 0px 0px;
																padding:0px 0px 0px 0px;
																font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
																background:url(../img/body_fundo.png);
																background-color:#486069;
															}
#geral														{
																width:100%;
																height:auto;
																margin:0px 0px 0px 0px;
																padding:0px 0px 0px 0px;
																background:url(../img/geral_fundo.png) top center no-repeat;
															}
#central														{
																width:980px;
																height:auto;
																margin:0px auto 0px auto;
																padding:0px 0px 50px 0px;
															}
#central_acabamento_01											{
																width:980px;
																height:35px;
																background:url(../img/central_acabamento_01.png) top left no-repeat;
															}
#central_conteudo												{
																width:980px;
																height:auto;
																overflow:hidden;
																background:url(../img/central_conteudo.png) top left repeat-y;
															}
#central_conteudo_topo											{
																width:940px;
																height:205px;
																margin:0px 20px 0px 20px;
																background-color:#41565e;
															}
#central_conteudo_topo_devinrio									{
																width:200px;
																height:200px;
																float:left;
																background-color:#000000;
															}
#central_conteudo_topo_tela										{
																width:740px;
																height:205px;
																float:left;
																background:url(../img/central_conteudo_topo_tela.png) top left no-repeat;
															}
#central_conteudo_topo_tela_animacao								{
																width:740px;
																height:165px;
															}
#central_conteudo_topo_tela_menu									{
																width:740px;
																height:40px;
															}
#central_conteudo_topo_tela_menu_item								{
																width:auto;
																height:40px;
																float:left;
															}
#central_conteudo_topo_tela_menu_data								{
																width:185px;
																height:auto;
																padding:13px 0px 0px 0px;
																float:right;
															}
#central_conteudo_display										{
																width:940px;
																height:auto;
																overflow:hidden;
																padding:0px 20px 0px 20px;
															}
#central_conteudo_display_coluna_01								{
																width:705px;
																height:auto;
																float:left;
																margin:0px 5px 0px 0px;
																padding:30px 15px 0px 15px;
																background-color:#262626;
															}
#central_conteudo_display_coluna_02								{
																width:200px;
																height:auto;
																float:left;
																padding:0px 0px 30px 0px;
															}
#central_conteudo_display_coluna_02_titulo							{
																width:200px;
																height:30px;
																margin:30px 0px 0px 0px;
																padding:0px 0px 0px 0px;
																background:url(../img/central_conteudo_display_coluna_02_titulo.png) top left no-repeat;
															}
#central_conteudo_display_coluna_02_titulo_texto						{
																width:185px;
																height:30px;
																padding:0px 0px 0px 15px;
																line-height:30px;
																font-size:12px;
																font-weight:bold;
																color:#ffffff;
															}
#central_conteudo_display_coluna_02_logo							{
																width:200px;
																height:auto;
																margin:20px 0px 0px 0px;
																text-align:center;
															}
#central_conteudo_display_coluna_02_banner							{
																width:200px;
																height:auto;
																margin:20px 0px 0px 0px;
																text-align:center;
															}
#central_conteudo_display_coluna_02_texto a:link						{	color:#aeb7bb; font-weight:bold; text-decoration:none; }
#central_conteudo_display_coluna_02_texto a:active					{	color:#aeb7bb; font-weight:bold; text-decoration:none;	}
#central_conteudo_display_coluna_02_texto a:visited					{	color:#aeb7bb; font-weight:bold; text-decoration:none;	}
#central_conteudo_display_coluna_02_texto a:hover						{	color:#ffffff; font-weight:bold; text-decoration:none;	}
#central_conteudo_display_coluna_02_texto							{
																width:185px;
																height:auto;
																margin:20px 0px 0px 15px;
																font-size:11px;
																color:#ffffff;
															}
#central_conteudo_display_coluna_02_textarea							{
																width:185px;
																height:auto;
																margin:20px 0px 0px 15px;
																font-size:11px;
																color:#333333;
															}
#central_acabamento_02											{
																width:980px;
																height:35px;
																background:url(../img/central_acabamento_02.png) top left no-repeat;
															}
/*---setor_programacao----------------------------------------------------*/
.programacao_box												{
																width:705px;
																height:auto;
																padding:0px 0px 30px 0px;
															}
.programacao_box_linha_01										{
																width:705px;
																height:30px;
															}
.programacao_box_linha_01_dupla									{
																width:705px;
																height:60px;
															}
.programacao_box_linha_01_titulo									{
																width:635px;
																height:30px;
																background-color:#131313;
																float:left;
															}
.programacao_box_linha_01_titulo_certificado									{
																width:635px;
																height:30px;																
																float:left; 
																background-color:#E14517;
																margin-bottom:10px;
																
															}
.programacao_box_linha_01_dupla_titulo								{
																width:635px;
																height:60px;
																background-color:#131313;
																float:left;
															}
.programacao_box_linha_01_titulo_texto								{
																width:620px;
																height:30px;
																margin:0px 0px 0px 15px;
																line-height:30px;
																font-size:18px;
																font-weight:bold;
																color:#71c7e4;

															}
.programacao_box_linha_01_titulo_texto_certificado			{
																width:620px;
																height:30px;
																margin:0px 0px 0px 0px;
																line-height:30px;
																font-size:18px;
																font-weight:bold;
																color:#FFFFFF;
																background-color:#E14517;
															}
.programacao_box_linha_01_titulo_texto_certificado a:link			{
																width:620px;
																height:30px;
																margin:0px 0px 0px 15px;
																line-height:30px;
																font-size:18px;
																font-weight:bold;
																color:#FFFFFF;
																background-color:#E14517;
																text-decoration:none;																
															}
.programacao_box_linha_01_titulo_texto_certificado a:hover	{
																width:620px;
																height:30px;
																margin:0px 0px 0px 15px;
																line-height:30px;
																font-size:18px;
																font-weight:bold;
																color:#FFFFFF;
																background-color:#E14517; 
																text-decoration:underline;																															
															}
.programacao_box_linha_01_titulo_texto_certificado a:active	{
																width:620px;
																height:30px;
																margin:0px 0px 0px 15px;
																line-height:30px;
																font-size:18px;
																font-weight:bold;
																color:#FFFFFF;
																background-color:#E14517;																
															}
.programacao_box_linha_01_titulo_texto_certificado a:visited {
																width:620px;
																height:30px;
																margin:0px 0px 0px 15px;
																line-height:30px;
																font-size:18px;
																font-weight:bold;
																color:#FFFFFF;
																background-color:#E14517;																
															}
.programacao_box_linha_01_dupla_titulo_texto							{
																width:620px;
																height:auto;
																margin:6px 0px 0px 15px;
																line-height:24px;
																font-size:18px;
																font-weight:bold;
																color:#71c7e4;
															}
.programacao_box_linha_01_hora									{
																width:70px;
																height:30px;
																background-color:#000000;
																float:left;
															}
.programacao_box_linha_01_hora_certificado					{
																width:70px;
																height:30px;
																background-color:#000000;
																float:left;
																background-color:#E14517;
															}
.programacao_box_linha_01_dupla_hora								{
																width:70px;
																height:60px;
																background-color:#000000;
																float:left;
															}
.programacao_box_linha_01_hora_texto								{
																width:55px;
																height:30px;
																margin:0px 0px 0px 15px;
																line-height:30px;
																font-size:15px;
																font-weight:bold;
																color:#71c7e4;
															}
.programacao_box_linha_01_hora_texto_certificado								{
																width:55px;
																height:30px;
																margin:0px 0px 0px 0px;
																line-height:30px;
																font-size:15px;
																font-weight:bold;
																color:#71c7e4;
																background-color:#E14517;
															}

.programacao_box_linha_01_hora_texto_certificado								{
																width:55px;
																height:30px;
																margin:0px 0px 0px 15px;
																line-height:30px;
																font-size:15px;
																font-weight:bold;
																color:#71c7e4;
																background-color:#E14517;
															}
.programacao_box_linha_01_dupla_hora_texto							{
																width:55px;
																height:auto;
																margin:4px 0px 0px 15px;
																line-height:30px;
																font-size:15px;
																font-weight:bold;
																color:#71c7e4;
															}
.programacao_box_linha_02										{
																width:675px;
																height:auto;
																padding:15px 15px 0px 15px;
																background-color:#1b1b1b;
															}
.programacao_box_linha_02_resumo_01 a:link							{	color:#ff6600; font-weight:bold; text-decoration:none; }
.programacao_box_linha_02_resumo_01 a:active							{	color:#ff6600; font-weight:bold; text-decoration:none;	}
.programacao_box_linha_02_resumo_01 a:visited						{	color:#ff6600; font-weight:bold; text-decoration:none;	}
.programacao_box_linha_02_resumo_01 a:hover							{	color:#ff6600; font-weight:bold; text-decoration:underline;	}
.programacao_box_linha_02_resumo_01								{
																width:675px;
																height:auto;
																text-align:justify;
																font-size:11px;
																color:#ffffff;
															}
.programacao_box_linha_02_resumo_02 a:link							{	color:#ff6600; font-weight:bold; text-decoration:none; }
.programacao_box_linha_02_resumo_02 a:active							{	color:#ff6600; font-weight:bold; text-decoration:none;	}
.programacao_box_linha_02_resumo_02 a:visited						{	color:#ff6600; font-weight:bold; text-decoration:none;	}
.programacao_box_linha_02_resumo_02 a:hover							{	color:#ff6600; font-weight:bold; text-decoration:underline;	}
.programacao_box_linha_02_resumo_02								{
																width:675px;
																height:auto;
																padding:0px 0px 15px 0px;
																text-align:justify;
																font-size:11px;
																color:#ffffff;
															}
.programacao_box_linha_02_palestrante								{
																width:675px;
																height:150px;
																overflow:hidden;
															}
.programacao_box_linha_02_palestrante_foto							{
																width:100px;
																height:120px;
																float:left;
																margin:15px 15px 15px 0px;
																background-color:#000000;
															}
.programacao_box_linha_02_palestrante_ficha a:link					{	color:#ff6600; font-weight:bold; text-decoration:none; }
.programacao_box_linha_02_palestrante_ficha a:active					{	color:#ff6600; font-weight:bold; text-decoration:none;	}
.programacao_box_linha_02_palestrante_ficha a:visited					{	color:#ff6600; font-weight:bold; text-decoration:none;	}
.programacao_box_linha_02_palestrante_ficha a:hover					{	color:#ff6600; font-weight:bold; text-decoration:underline;	}
.programacao_box_linha_02_palestrante_ficha							{
																width:560px;
																height:150px;
																float:left;
															}
.programacao_box_linha_02_palestrante_ficha_nome						{
																width:560px;
																height:25px;
																margin:10px 0px 0px 0px;
																font-size:15px
															}
.programacao_box_linha_02_palestrante_ficha_curriculo					{
																width:560px;
																height:90px;
																text-align:justify;
																font-size:11px;
																color:#ffffff;
															}
.programacao_box_linha_02_palestrante_ficha_url						{
																width:560px;
																height:25px;
																font-size:11px;
															}
															





#conteudo_insc   a:link											{	color:#ff6600; font-weight:bold; text-decoration:none; }
#conteudo_insc   a:active										{	color:#ff6600; font-weight:bold; text-decoration:none;	}
#conteudo_insc   a:visited										{	color:#ff6600; font-weight:bold; text-decoration:none;	}
#conteudo_insc   a:hover											{	color:#ff6600; font-weight:bold; text-decoration:underline;	}
#conteudo_insc  												{
																font-family:Verdana, Geneva, sans-serif; 
															 	font-size:12px;
															 	color:#FFFFFF;
															}
#conteudo_insc_form												{
																font-family:Verdana, Geneva, sans-serif; 
															  	font-size:11px;
															  	color:#FFFFFF;
															}
legend 														{
																color:#FFFFFF;
															}
.aviso_previo												{ font-weight:bold;
															  color:#FFFFFF;
															  font-size:13px;
															}