body {
    background: #486069 url(../images/bg.png) repeat scroll 0 0;
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
}

* { 
	margin: 0;
	padding: 0;
}

h1 {
    letter-spacing: -0.06em;
}

<<<<<<< HEAD
.clear {clear: both; }

=======
>>>>>>> heroku/master
header { margin: 0 auto; width: 960px; display: block; padding-top: 4em;}
header address { font-size: 1.2em; }
header abbr { font-size: 1.5em; }
header h1 { font-size: 2em; margin: 0 0 0 0.5em;}
header p {  width: 600px; color: #0C1213; font-size: 2em; float: right; margin-top: -121px; line-height: 1.4em; text-align: right;}
header p img { margin-top: 0.5em;}
header p em { font-style: normal; font-size: 1.3em;}

nav { float: right; }

#wrap { 
    background: transparent url(../images/scrollwork.png) no-repeat scroll 50% 0;
}
