* { 
	margin: 0;
	padding: 0;
}

html {
  background: #030706 url(../images/bg-body.png) no-repeat scroll bottom left;
  width: 100%;
  height: 100%;
}

body {
  font-family: Helvetica, Arial, sans-serif;
	line-height: 1.4em;
  margin: 0;
  padding: 4em 0;
  color: #fff;
}

.clear {clear: both; }

#crumb { width: 860px; margin: 0 auto;}

a { color: #71C7E4; text-decoration: none; font-size: .8em; }
a:hover { text-decoration: underline; }

/*HEADER*/

header { height: 400px;}
header address { font-size: 1.2em; }
header abbr { font-size: 1.5em; }
header h1 { float: left; font-size: 2em; margin: 0;}
header h1 img { border: none; }
header p {  width: 600px; color: #fff; font-size: 2em; float: right; line-height: 1.4em; text-align: right;}
header p img { margin-top: 0.5em;}
header p em { font-style: normal; font-size: 1.3em;}

/* TOOLTIP AND POINTER CSS
Source: http://www.filamentgroup.com/lab/image_free_css_tooltip_pointers_a_use_for_polygonal_css/
*/

.fg-tooltip {
	padding: .8em .8em .6em;
	border-width: 2px !important;
	position: absolute;
	background: #f60;
	font-size: 2em;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: -1px;
	bottom: 140px;
	left: 330px;
}

.fg-tooltip .fg-tooltip-pointer-down, .fg-tooltip .fg-tooltip-pointer-down-inner {
	position: absolute; 
	width:0; 
	height:0; 
	border-bottom-width: 0;
	background: none;
}

.fg-tooltip .fg-tooltip-pointer-down {	
	border-left: 0; 
	border-right: 27px dotted transparent;
	border-top-width: 24px;
	bottom:	-14px;
	right: auto;
	left: 1em;
	margin: 0;
}

.fg-tooltip .fg-tooltip-pointer-down-inner {
	border-left: 0; 
	border-right: 22px dotted transparent;
	border-top: 20px solid #f60;
	bottom:	auto;
	top: -14px;
	left: 2px;
}