body {
    background: #486069 url(../images/bg.png) repeat scroll 0 0;
    font-family: Helvetica, Arial, sans-serif;
	line-height: 1.4em;
    margin: 0;
    padding: 0;
}

* { 
	margin: 0;
	padding: 0;
}

h2 { margin: 1em 0 0 0.65em; color: #fff;}
.sidebar h2 { margin: 1em 0 .4em 0;}

.clear {clear: both; }

#wrap { background: transparent url(../images/scrollwork.png) no-repeat scroll 50% 0;
		overflow: auto;}

#crumb { width: 960px; margin: 0 auto; padding-top: 2em;}

a { color: #71C7E4; text-decoration: none; }
a:hover { text-decoration: underline; }


/*HEADER*/
header { padding-top: 4em;}
header address { font-size: 1.2em; }
header abbr { font-size: 1.5em; }
header h1 { display: inline; font-size: 2em; margin: 0 0 0 0.5em;}
header p {  width: 600px; color: #0C1213; font-size: 2em; float: right; line-height: 1.4em; text-align: right;}
header p img { margin-top: 0.5em;}
header p em { font-style: normal; font-size: 1.3em;}
header #contact_links { margin-top: -2em; color: #FFF; font-size: 1em;}
header #contact_links a { margin-left: 0.5em; font-style: italic;}
header #contact_links  img { border: none; margin: 0.2em 0.2em 0 0;}
header #history {
  font-size: 1.2em;
}

/*CONTENT*/

#content { background-color: #33474D; float: left; width: 720px; margin: 1.5em 0;}
#schedule { width: 704px; list-style: none; padding-bottom: 1em;}
#schedule li { background-color: #222F33; margin: 1.5em 1em; width: 688px;}
#schedule li.alt h3 {color: #444F55;}

#schedule li h3, #schedule li .time, #schedule li p#atencao { display: table; color: #71C7E4;	line-height: 32px;}
#schedule li p#atencao { padding: 0 10px;}
#schedule li h3  { background-color: #121B1D; width: 612px;
				float: left; text-indent: 0.5em; font-weight: normal;}
#schedule li .time { background-color: #000000; width: 76px; text-align: center;}
#schedule li  .speaker { padding: 0.5em;}
#schedule li  .speaker a img { float: left; margin: 0.25em 0.5em 0 0;}
#schedule li  .speaker a span { margin-left: -0.5em;}
#schedule li  .speaker p { color: #FFF; font-size: 0.8em;}


/*SPONSORS*/

#sponsors { margin: 1.5em 0 1em 0;}
#sponsors h2#silver-title { color: #E6E8FA;}
#sponsors h2#golden-title { color: #FFD700;}
#sponsors p {background-color: #4D6B73; margin: 1em; padding: 0.5em;}
#sponsors p strong {font-size: 1.6em; line-height: 1.2em; font-weight: bold; text-transform: uppercase; letter-spacing: -1px; color: #fff;}
#sponsors p a#sponsorship-plan { padding: 6px 0 6px 35px; background: transparent url(../images/pdf.png) no-repeat 0 0;}
#sponsors a img { border: none; }

.sidebar { float: right; background-color: #33474D; width: 232px;}
.sidebar h2 { font-size: 1.2em; color: #FFF; text-align: center;}

/*COMMUNITIES*/

#communities { margin: 1em 0; padding: 0 0 1em 0;}
#communities ul {
  margin: 0 1em;
  list-style-type: none;
  background-color: #4D6B73; 
}

#communities ul li {
  padding: 10px;
  text-align: center;
}

#communities img {
  border: none;
}

/*BADGES*/

#badges { margin: 1em 0;}
#badges ul{ list-style: none;}
#badges ul li { padding: 1em 0.8em; text-align: center;}
